// ==========================================================================
//   PAGE BANNER
// ==========================================================================

// Node pages should behave differently

body:not(.page-node) {
  #page-banner {
    @include clearfix;
    background: $banner-background-color;
    .container {
      position:relative;
      z-index: 1;
      @include center-block;
      max-width: $page-width;
      padding: $gutter;
      .region-banner {
        padding: 0;
      }
    }
    @media #{media(40)} {
      @include responsive-display-banner($width: 45%, $gutter: 2.5%);
      display: flex;
      .container {
        padding: $gutter*2 0;
        .region-banner {
          padding: 0 $gutter*2;
        }
      }
      .group-no-image  {
        display: flex;
        background: $light-teal;
        .background-design {
          display: block;
          position: relative;
          overflow: hidden;
          width: 235px;
          margin-left: -235px;
          float: left;
          -webkit-transform-origin: bottom right;
          -ms-transform-origin: bottom right;
          transform-origin: bottom right;
          -webkit-transform: skew(-30.15deg);
          -ms-transform: skew(-30.15deg);
          transform: skew(-30.15deg);
          &:before {
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: -50%;
            left: 50px;
            z-index: -1;
            background-image: url(/themes/custom/nefa/static/img/pattern-teal.png);
            -webkit-transform-origin: bottom right;
            -ms-transform-origin: bottom right;
            transform-origin: bottom right;
            -webkit-transform: skew(30.15deg);
            -ms-transform: skew(30.15deg);
            transform: skew(30.15deg);
          }
        }
      }
    }
  }
}

body.page-node {
  #page-banner {
    @include clearfix;
    background: transparent;
    .region-banner {
      padding: 0;
      @media #{media(40)} {
        padding: 0;
      }
    }
  }
}