// ==========================================================================
//   FOOTER
// ==========================================================================

#footer {
  @include clearfix;
  background: $footer-background-color;
  width: 100%;
  padding: $gutter 0;
  a[href] {
    text-decoration: none;
  }
  .container {
    @include center-block;
    max-width: $page-width;
    #footer-first,
    #footer-second,
    #footer-third {
      float: left;
      width: 100%;
    }
    #footer-first {
      display: flex;
      justify-content: center;
      .block {

        &.footer-logo {
          max-width: 200px;
        }
      }
    }
    #footer-second {
      @include font-size(14px);
      text-align: center;
      .block {
        &:first-child {
          margin-bottom: $gutter*2;
          margin-top: $gutter;

        }
        span {
          &.address {
            display: block;
          }
          &.email {
            display: block;
          }
        }
      }
    }
    #footer-third {
      display: flex;
      justify-content: center;
      .block {
        float: left;
        width: auto;
        &.charity-nav {
          margin-right: $gutter/2;
          max-width: 200px;
          @media #{media(25)}{
            margin-right: $gutter*2;
          }
        }
        &.guidestar-platinum {
          margin-right: $gutter/2;
          max-width: 150px;
          @media #{media(25)}{
            margin-right: $gutter*2;
          }
        }
      }
    }
    @media #{media(50)} {
      #footer-first {
        justify-content: left;
        width: 100%;
      }
      #footer-second {
        text-align: left;
        width: 66%;
        .block {
          float: left;
          width: 45%;
          &:first-child {
            margin: 0;
            width: 55%;
            span {
              display: block;
              margin-bottom: .2rem;
              &.address {
                padding: 0;
              }
              &.zipcode {
                display: block;
                margin-top: .2rem;
              }
            }
          }
        }
      }
      #footer-second {
        margin: 0 2%;
      }
      #footer-third {
        width: 30%;
        .block {
          width: 100%;
          &.charity-nav,
          &.guidestar-platinum {
            margin-bottom: $gutter;
          }
        }
      }
    }
    @media #{media(67)} {
      #footer-first {
        width: 15%;
      }
      #footer-second {
        width: 56%;
        .block {
          width: 100%;
          &:first-child {
            width: 100%;
            span {
              display: inline-block;
              margin-right: $gutter/4;
              &.zipcode {
                display: inline-block;
              }
            }
          }
        }
      }
      #footer-third {
        width: 25%;
        .region {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
        .block {
          float: left;
          width: auto;
          &.charity-nav {
            margin-right: $gutter;
            width: 62%;
          }
          &.guidestar-platinum {
            margin-right: 0;
            width: calc(38% - 20px);
          }
        }
      }
    }
    @media #{media(71)} {
      #footer-second {
        padding-left: 4%;
      }
    }
  }
}
