// ==========================================================================
//   SITE HEADER
// ==========================================================================

#site-header {
  @include clearfix;
  //background: $header-background-color;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  height: $mobile-header-height;
  z-index: 2;
  @media #{media($main-nav)} {
    height: $desktop-header-height;
  }
  .container {
    @include center-block;
    max-width: $page-width;
  }
}