// ==========================================================================
//   HOMEPAGE
// ==========================================================================

body.front {
  .block-page-title-block {
    display: none;
  }

  #block-entityviewcontent-banner,
  #block-nefa-mainpagecontent {
    display: none;
  }

  #page-banner {
    background: transparent;
    .container {
      padding: 0;
      max-width: none;
      .region-banner {
        padding: 0 0 $gutter 0;
      }
    }
  }

  #primary-content {
    margin-top: 0;
  }

  .region-post-content {
    .block {
      h2.block__title {
        text-align: center;
      }
    }
  }
}