// ==========================================================================
//   POST-CONTENT
// ==========================================================================

#post-content {
  @include clearfix;
  background: $post-content-background-color;
  .container {
    @include center-block;
    //max-width: $page-width;
  }
}