// ==========================================================================
//   PRE-CONTENT
// ==========================================================================

#pre-content {
  @include clearfix;
  background: $pre-content-background-color;
  .container {
    //@include center-block;
    //max-width: $page-width;
    .region-pre-content {
      padding: 0;
      .messages,
      .block-tabs {
        @include center-block;
        max-width: $page-width;
      }
      .block-tabs {
        padding: 0 $gutter;
        @media #{media(40)} {
          padding: 0 $gutter*2;
        }
      }
      .messages {
        padding: $gutter/2 $gutter;
      }
      // Most of the bef styles are actually in views.scss
      .bef-exposed-form {
        border-bottom: 1px solid $base-border-color;
        .block__wrapper {
          @include center-block;
          max-width: $page-width;
          .block__content {
            padding: 0 $gutter;
            @media #{media(40)} {
              padding: 0 $gutter*2;
            }
          }
        }
        // Views solr search exposed filter block should do its own thing
        &.block-views-exposed-filter-blockpantheon-solr-content-search-page-1 {
          border: none !important;
          .block__content {
            padding: $gutter $gutter 0 $gutter !important;
            @media #{media(40)} {
              padding: $gutter*2 $gutter*2 0 $gutter*2 !important;
            }
          }
        }

        @media #{media(70)} {
          .form--inline {
            display: flex;

            > .form-item--id-field-touring-support-available-value {
              margin-top: 0;
            }

            legend {
              white-space: nowrap;
            }

            #edit-actions {
              display: flex;
              flex-direction: column;
              align-content: stretch;
            }

            .reset-button {
              input {
                margin-top: 2px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
