// ==========================================================================
//   PRIMARY-CONTENT (CONTENT and BOTH SIDEBARS)
// ==========================================================================

#primary-content {
  margin: $gutter*2 0 $gutter*2 0;
  @media #{media($sidebar)} {
    margin: $gutter*2 0 $gutter*4 0;
  }
  @media #{media($main-nav)} {
    min-height: 100px;
  }
  @include clearfix;
  .container {
    @include center-block;
    max-width: $page-width;
  }
}

body.no-sidebar {
  #content,
  #sidebar-first,
  #sidebar-second {
    width: 100%;
  }
}

body.two-sidebars {
  #content,
  #sidebar-first,
  #sidebar-second {
    width: 100%;
    float: left;
  }
  @media #{media($both-sidebars)} {
    #content {
      width: $both-sidebars-content-width;
      margin-left: $both-sidebars-first-width;
    }
    #sidebar-first {
      width: $both-sidebars-first-width;
      margin-left: -($both-sidebars-content-width + $both-sidebars-first-width);
    }
    #sidebar-second {
      width: $both-sidebars-second-width;
    }
  }
}

body.sidebar-first {
  #content,
  #sidebar-first {
    width: 100%;
    float: left;
  }
  @media #{media($sidebar)} {
    #content {
      width: $first-sidebar-content-width;
      margin-left: $first-sidebar-width;
    }
    #sidebar-first {
      width: $first-sidebar-width;
      margin-left: -($first-sidebar-content-width + $first-sidebar-width);
    }
  }
}

body.sidebar-second {
  #content,
  #sidebar-second {
    width: 100%;
    float: left;
  }
  @media #{media($sidebar)} {
    #content {
      width: $second-sidebar-content-width;
    }
    #sidebar-second {
      width: $second-sidebar-width;
    }
  }
}