// ==========================================================================
//   REGIONS
// ==========================================================================

// Default gutter. Top & Bottom gutter most likely specific to region.
.region {
  @include clearfix;
  padding: 0 $gutter;
  @media #{media(40)} {
    padding: 0 $gutter*2;
  }

  > .wrapper {
    @include clearfix;
  }
}

.region-header {
  position: relative;
  padding: $gutter;
  @media #{media(40)} {
    height: 150px;
    padding: 0 $gutter*2 $gutter $gutter*2;
  }
}

.region-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  @media #{media($main-nav)} {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    padding: 0 $gutter*2 0 0;
    display: inline-block;
    float: right;
    margin-top: -62px; // line it up with the site logo
    width: auto;
    .wrapper {
      position: relative;
      background-color: transparent;
    }
  }
}

.region-banner {
  //padding: $gutter;
  //padding: 0;
}

// Because Tabs & Messages are in this region, do not apply left|right gutters to the region.
// Instead, apply these gutters on the blocks placed in the region.
.region-pre-content {
}

.region-content,
.region-sidebar-first,
.region-sidebar-second {
  padding: 0 $gutter;
}

.region-content {
  @media #{media(40)} {
    padding: 0 $gutter*2;
  }
}

.region-sidebar-first {
  @media #{media(40)} {
    padding-left: $gutter*2;
  }
}

.region-sidebar-second {
  @media #{media(40)} {
    padding: 0 $gutter*2;
  }
}

.region-post-content {
  padding: 0;
  @media #{media(40)} {
    padding: 0;

  }
}

.region-footer-first,
.region-footer-second,
.region-footer-third {
  padding: $gutter;
}

.region-footer-second {
  @media #{media(50)} {
    padding-left: 0;
    padding-right: 0;
  }
}
