// ==========================================================================
//   CREATIVE ECONOMY INITIATIVE Content type
// ==========================================================================

.node--type-creative-economy-initiative {
  &.node--view-mode-full {
    .cei-image {
      width: 200px;
      max-width: 200px;
      .field--name-field-ccx-award-winner {
        p {
          margin-top: $gutter/4;
          padding: $gutter/4;
          background: $primary-color;
          color: $white;
          @include font-size(14px);
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
    .cei-details {
      .field {
        .field__label {
          display: inline;
          float: none;
          //padding-right: $gutter/4;
          &:after {
            display: inline;
            content: ":";
          }
        }
        .field__item {
          display: inline;
          float: none;
          @include font-weight(semibold);
          //margin-top: -.25em;
        }
        padding-bottom: $gutter/2;
      }
    }
    .cei-image {
      & +.cei-details {
        margin-top: $gutter;
      }
    }

    fieldset {
      clear: both;
      &.js-form-item {
        margin-bottom: 0 !important;
      }
    }

    @media #{media(40)} {
      .cei-image {
        width: 200px;
        max-width: 200px;
        float: left;
      }
      .cei-details {
        float: left;
        width: calc(100% - 220px); //cei-image width plus 20px
      }
      .cei-image {
        & +.cei-details {
          margin-top: 0;
          margin-left: $gutter;
        }
      }
    }
    max-width: $body-width;
    .field--name-field-project-description {
      clear: both;
      float: left;
      margin: $vertical-spacing*2 0;
    }
    fieldset {
      .field__label {
        @include font-size($base-font-size);
        text-transform: capitalize;
        @include font-weight(bold);
      }
      .field + .field {
        margin-top: $vertical-spacing;
      }
    }

  }
  &.node--view-mode-teaser {}
  &.node--view-mode-teaser-small {}
  &.node--view-mode-card {}
  &.node--view-mode-featured {}
  &.node--view-mode-banner {}
  &.node--view-mode-sidebar {}
  &.node--view-mode-post-content {}
}
