// ==========================================================================
//   EVENT content type
// ==========================================================================

.node--type-event {
  &.node--view-mode-full {
    .event-when,
    .event-where {
      @include clearfix;
      width: 100%;
      margin-bottom: $gutter/2;
      > * {
        @extend %label-caps;
      }

      > p,
      > .field {
        float:left;
      }
      > p {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-right: $gutter;
      }
      > .field {
        clear: both;
        @include font-weight(semibold);
      }
    }
    .field--name-field-event-link {
      margin-top: $gutter;
    }
    @media #{media(40)} {
      .event-when,
      .event-where {
        > p {
          width: 100px;
          float: left;
        }
        .field {
          margin-top: -.25em;
          width: calc(100% - 100px);
          float: left;
          clear: none;
        }
      }
      .event-where {
        //clear: both;
      }
    }
  }
  &.node--view-mode-teaser {}
  &.node--view-mode-teaser-small {}
  &.node--view-mode-teaser-small {}
  &.node--view-mode-card {}
  &.node--view-mode-featured {}
  &.node--view-mode-banner {}
  &.node--view-mode-sidebar {
    > .field {
      border: 1px solid $base-border-color;
      padding: $gutter;
    }
    .field {
      & + .field {
        margin-top: $gutter*2;
      }
    }
  }
  &.node--view-mode-post-content {}
}