// ==========================================================================
//   GRANT Content type
// ==========================================================================

.node--type-grant {
  &.node--view-mode-full {}
  &.node--view-mode-teaser {
    .group-top {
      margin-bottom: $gutter*2;
      img {
        width: 100%;
        max-width: none; // for Slick at 480px - 640px
      }
    }
    .group-bottom {
      .field--name-node-title {
        margin-bottom: $gutter;
      }
      .field--name-field-deadline-abbreviated {
        margin-top: $gutter*2;
      }
    }
  }
  &.node--view-mode-teaser-small {}
  &.node--view-mode-card {}
  &.node--view-mode-featured {}
  &.node--view-mode-banner {}
  &.node--view-mode-sidebar {
    .application-info {
      @include clearfix;
      background: $callout-background-color;
      padding: $gutter*2 $gutter;
      a:not(.button-link):not(.button-link-outline):not(.button-link-outline-mono) {
        color: $dark-teal;
        &:hover {
          color: $link-color-hover;
        }
      }
      .field + .field {
        margin-top: $gutter;
      }
      & + .field--name-field-contact-info {
        margin-top: $gutter;
      }
    }
    .field--name-field-contact-info {
      border: 1px solid $base-border-color;
      padding: $gutter*2 $gutter;
    }
  }
  &.node--view-mode-post-content {
    .field--name-field-related-grant-program {
      margin-top: $gutter*2;
      h2 {
        text-transform: none;
      }
      .field__items {
        @media #{media(30)} {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-auto-rows: 1fr;
          grid-column-gap: $gutter*2;
          > .field__item {
            &:nth-of-type(2n+1){
              padding-right: $gutter*2; // necessary because of border
              border-right: 1px solid $base-border-color;
            }
            &:last-of-type {
              border-right: none;
            }
          }
        }
        @media #{media($sidebar)} {
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 0;
          margin-left: -$gutter*2;
          margin-right: -$gutter*2;
          > .field__item {
            padding-left: $gutter*2;
            padding-right: $gutter*2;
            margin-bottom: $gutter*3;
            &:nth-of-type(2n+1) {
              border-right: none; // reset from previous breakpoint
              //padding-right: 0;
            }
            &:nth-of-type(3n+1),
            &:nth-of-type(3n+2) {
              border-right: 1px solid $base-border-color;
              //padding-right: $gutter*2; // necessary because of border
            }
            &:last-of-type {
              border-right: none;
            }
          }
        }
      }
    }
  }
}