// ==========================================================================
//   GRANT RECIPIENT Content type
// ==========================================================================

.node--type-grant-recipient {
  &.node--view-mode-full {
    .grant-recipient-details {
      > p { // this is the heading
        @include font-size($h4-font-size);
        @include font-weight(semibold);
      }
      .field {
        width: 100%;
        .field__label,
        .field__item {
          float:left;
          width: 100%;
        }
        .field__label {
          padding-right: $gutter;
        }
        .field__item {
          @include font-weight(semibold);
        }
        .field {
          padding-bottom: 0;
        }
        padding-bottom: $gutter;
        @media #{media(40)} {
          .field__label {
            width: 200px;
          }
          .field__item {
            margin-top: -.25em;
            width: calc(100% - 200px);
          }
          padding-bottom: $gutter/2;
        }

      }
      margin-bottom: $gutter;
    }
  }
  &.node--view-mode-teaser {
    &.ds-1col {
      .field--name-field-main-image {
        & + .field {
          & + .field {
            @media #{media(30)} {
              float: right;
              clear: none;
              width: 75%;
            }
            @media #{media(40)} {
              width: 70%;
            }
            @media #{media(50)} {
              width: 60%;
            }
          }
        }
      }
      .field--name-grantee-artist-name {
        @include font-size($base-font-size*.8);
        .artist-name-label {
          text-transform: uppercase;
        }
      }
    }
  }
  &.node--view-mode-teaser-small {}
  &.node--view-mode-card {}
  &.node--view-mode-featured {}
  &.node--view-mode-banner {}
  &.node--view-mode-sidebar {}
  &.node--view-mode-post-content {}
}
