// ==========================================================================
//   NEWS AUTHOR Content type (renamed to PERSON)
// ==========================================================================

.node--type-news-author {

  // all view modes for this content type
  .field--name-ndp-ntp-title,
  .field--name-bod-title,
  .field--name-ac-title,
  .field--name-field-advisory-council-title,
  .field--name-field-staff-title,
  .field--name-field-board-of-directors-title {
    font-style: italic;
  }
  .field--name-field-affiliations {
    .field {}
  }
  .field--name-field-pronouns {
    font-style: italic;
  }
  .field--name-field-phone {
    a {
      color: $base-font-color;
      @include font-weight(normal);
    }
  }

  .field--name-bio-link {
    text-transform: uppercase;
    a {
      color: $medium-teal;
      &:hover,
      &:focus {
        color: $secondary-color;
      }
    }
  }
  .field--name-field-affiliation-name {
    a {
      color: $medium-teal;
    }
  }

  &.node--view-mode-full {
    .field--name-field-image {
      max-width: 280px;
    }
    .field--name-ndp-ntp-title,
    .field--name-bod-title,
    .field--name-ac-title,
    .field--name-field-advisory-council-title,
    .field--name-field-staff-title,
    .field--name-field-board-of-directors-title,
    .field--name-field-affiliations,
    .field--name-field-person-location,
    .field--name-field-email,
    .field--name-field-pronouns,
    .field--name-field-phone,
    .field--name-field-personal-website {
      margin-top: 0 !important;
    }
    .field--name-node-title {
      @include font-size($h3-font-size-mobile);
      @include font-weight(semibold);
      //color: $base-font-color;
      @media #{media($main-nav)} {
        @include font-size($h3-font-size);
      }
    }
    .field--name-ndp-ntp-title,
    .field--name-bod-title,
    .field--name-ac-title,
    .field--name-field-advisory-council-title,
    .field--name-field-staff-title,
    .field--name-field-board-of-directors-title {
      @include font-size(17px);
      @include font-weight(semibold);
      //color: $base-font-color;
      @media #{media($main-nav)} {
        @include font-size(17px);
      }
    }
    .field--name-field-personal-website {
      display: flex;
      align-items: center;
      .field__label.is-inline {
        font-size: $base-font-size;
        text-transform: capitalize;
        margin-right: .25em;
      }
    }
    .field--name-body {
      .field__label {
        margin-bottom: $gutter/2;
      }
    }
  }
  &.node--view-mode-teaser {
    display: flex;
    align-items: center;
    .group-left {
      width: 120px;
      max-width: 120px;
      margin-right: $gutter;
    }
    .group-right {
      a {
        text-decoration: none;
      }
      .field + .field:not(.field--name-bio-link) {
        margin-top: 0 !important;
      }
      .field--name-field-affiliations {
        @include font-size(16px);
      }
    }
  }
  &.node--view-mode-teaser-small {}
  &.node--view-mode-card {}
  &.node--view-mode-featured {}
  &.node--view-mode-banner {}
  &.node--view-mode-sidebar {}
  &.node--view-mode-post-content {}

  &.node--view-mode-general-gallery-teaser,
  &.node--view-mode-advisory-council,
  &.node--view-mode-board-of-directors,
  &.node--view-mode-staff,
  &.node--view-mode-ndp-ntp {
    .field--name-field-image,
    .field--name-person-gray-icon,
    .field--name-person-white-icon {
      margin-bottom: $gutter/2;
    }
    .field--name-node-title {
      h3 {
        @include font-size($base-font-size);
        @media #{media($main-nav)} {
          @include font-size($base-font-size);
        }
      }
    }
    .field--name-field-advisory-council-title,
    .field--name-field-staff-title,
    .field--name-field-board-of-directors-title {
      @include font-weight(semibold);
    }
  }
  &.node--view-mode-advisory-council,
  &.node--view-mode-board-of-directors,
  &.node--view-mode-staff {
    .field--name-field-affiliations {
      .field--name-affiliation-details {
        a {
          color: $medium-teal;
          &:hover,
          &:focus {
            color: $secondary-color;
          }
        }
      }
    }
  }

}
