// ==========================================================================
//   NEWS Content type
// ==========================================================================

.node--type-news {
  &.node--view-mode-full {
    .field--name-news-tags {
      .tag-label,
      .news-tags {
        display: inline-block;
      }
      .tag-label {
        padding-right: $gutter;
        @extend %label-caps;
        @include font-weight(semibold);
      }
      .news-tags {
        color: $base-font-color;
        @include font-weight(bold);
      }
    }
  }
  &.node--view-mode-teaser {}
  &.node--view-mode-teaser-small {}
  &.node--view-mode-card {}
  &.node--view-mode-featured {}
  &.node--view-mode-banner {
    .field--name-field-subtitle {
      @include font-size(20px);
      @include font-weight(medium);
      margin-bottom: $gutter/4;
      color: $white;
    }
    .field--name-field-publication-date {
     color: $white;
    }
  }
  &.node--view-mode-sidebar {}
  &.node--view-mode-post-content {}
  &.node--view-mode-search-result {
    .field--name-bundle-fieldnode {
      float: left;
      &:after {
        display: inline-block;
        content: "|";
        margin-left: $gutter/4;
        margin-right: $gutter/4;
      }
    }
    .field--name-field-publication-date {
      display: inline;
    }
  }
}