// ==========================================================================
//   PAGE Content type
// ==========================================================================

.node--type-page {
  &.node--view-mode-full {
    .field--name-full-image-caption {
      color: $light-charcoal;
      @include font-size(12px);
      p {
        display: inline-block;
      }
    }
  }
  &.node--view-mode-teaser {}
  &.node--view-mode-teaser-small {}
  &.node--view-mode-card {}
  &.node--view-mode-featured {}
  &.node--view-mode-banner {}
  &.node--view-mode-sidebar {}
  &.node--view-mode-post-content {}
}