// ==========================================================================
//   GRANT Content type
// ==========================================================================

.node--type-program {
  &.node--view-mode-full {}
  &.node--view-mode-teaser {
    display: flex;
    flex-direction: column;
    .group-top {
      margin-bottom: $gutter*2;
    }
    .group-bottom {
      flex-grow: 1;
      .field--name-node-title {
        margin-bottom: $gutter;
      }
      .field--name-field-deadline-abbreviated {
        margin-top: $gutter*2;
      }
    }
  }
  &.node--view-mode-teaser-small {}
  &.node--view-mode-card {}
  &.node--view-mode-featured {}
  &.node--view-mode-banner {}
  &.node--view-mode-sidebar {
    .field--name-field-related-grants {
      @include clearfix;
      background: $callout-background-color;
      padding: $gutter*2 $gutter;
      ul {
        margin-left: 0;
        a:not(.button-link):not(.button-link-outline):not(.button-link-outline-mono) {
          color: $dark-teal;
          &:hover {
            color: $link-color-hover;
          }
        }
      }
      & + .field--name-field-contact-info {
        margin-top: $gutter;
      }
    }
    .field--name-field-contact-info {
      border: 1px solid $base-border-color;
      padding: $gutter*2 $gutter;
    }
  }
  &.node--view-mode-post-content {}
}