// ==========================================================================
//   PUBLICATION content type
// ==========================================================================

.node--type-publication {
  &.node--view-mode-full {}
  &.node--view-mode-teaser {
    @include responsive-display-2col($width: 35%, $gutter: 5%, $image-container: left);
    &.ds-2col-fluid {
      .group-right {
        .field + .field {
          margin-top: auto;
        }
        .field--name-field-publication-date {
          margin-bottom: $gutter*1.5;
        }
        .field--name-body {
          margin-top: $gutter/2 !important;
        }
      }
    }
  }
  &.node--view-mode-teaser-small {}
  &.node--view-mode-teaser-small {}
  &.node--view-mode-card {}
  &.node--view-mode-featured {}
  &.node--view-mode-banner {}
  &.node--view-mode-sidebar {}
  &.node--view-mode-post-content {}
}