// ==========================================================================
//   Blockquotes
// ==========================================================================

blockquote {
  color: $primary-color;
  @include font-size(30px);
  position: relative;
  line-height: 38px;
  //border-top: 1px solid $base-border-color;
  //border-bottom: 1px solid $base-border-color;
  border-left: 1px solid $base-border-color;;
  margin: rem($vertical-spacing * 2) 0;
  padding: $gutter/2 $gutter*4 0 $gutter*4;
  @include font-weight(light);

  &:before {
    display: block;
    position: absolute;
    left: .2em;
    top: -.1em;
    //top: .4em;
    font-family: $icomoon;
    font-size: 54px;
    content: $icon-quotes-left;
    color: $aqua;
  }
  * {
    &:last-child {
      line-height: 1;
    }
  }

  p:not(.citation) {
    @include font-weight(light);
    //&:after {
    //  display: inline-block;
    //  position: absolute;
    //  margin-top: -.1em;
    //  margin-left: .1em;
    //  font-family: $icomoon;
    //  font-size: 1.5em;
    //  content: $icon-quotes-right;
    //}
  }
  a {
    @include font-weight(medium);
  }
}