// ==========================================================================
//   BUTTONS
// ==========================================================================



a.button-link,
.button-link a,
.pager__item a.button-link,
input.button-link,
.menu--utility-navigation li a {
  position: relative;
  display: inline-block;
  color: $white;
  background: $action-color;
  border: 2px solid $action-color;
  padding: 1em 2em;
  @include font-size(14px);
  @include font-weight(bold);
  line-height: 16px;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $secondary-color;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .3s ease-out;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $white !important;
    border: 2px solid $secondary-color;
    &:before {
      transform: scaleX(1);
    }
  }
}

.field--name-field-event-link a,
.submit-button:not(.reset-button),
.paragraph--type-featured-video .field--name-field-link a,
a.button-link-outline,
.button-link-outline a {
  position: relative;
  display: inline-block;
  color: $primary-color;
  background: $white;
  border: 2px solid $secondary-color;
  padding: 1em 2em;
  @include font-size(14px);
  @include font-weight(bold);
  line-height: 16px;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $secondary-color;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .3s ease-out;
  }

  /*---*/
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $white !important;
    background: $white;
    border: 2px solid $secondary-color;
    &:before {
      transform: scaleX(1);
      background: $secondary-color;
    }
  }
}

.submit-button:not(.reset-button) {
  padding: 0;
  .button {
    padding: 1em 2em;
    border: 0;
    color: $primary-color;
    background: transparent;
    @include font-size(14px);
    @include font-weight(bold);
    line-height: 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: $white !important;
      background: $secondary-color;
    }
  }
}
#views-exposed-form-pantheon-solr-content-search-page-1,
#search-api-page-block-form--2,
.search-api-page-block-form {
  .submit-button:not(.reset-button) {
    border: 0 !important;
  }
}

a.button-link-outline-mono,
.button-link-outline-mono a {
  position: relative;
  display: inline-block;
  color: $primary-color;
  background: $white;
  border: 1px solid $primary-color;
  padding: 1em 2em;
  @include font-size(14px);
  @include font-weight(bold);
  line-height: 16px;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary-color;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .3s ease-out;
  }

  /*---*/
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $white !important;
    background: $white;
    border: 1px solid $primary-color;
    &:before {
      transform: scaleX(1);
    }
  }
}

.skip-link {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px
}

.skip-link:hover,
.skip-link:active,
.skip-link:focus {
  text-decoration: none;
  color: $white !important;
  background: $action-color;
  border: 1px solid $action-color;
  clip: auto !important;
  display: block;
  padding: .5em 1em;
  @include font-size(14px);
  @include font-weight(normal);
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
  height: auto;
  left: 0;
  top: 0;
  width: auto;
  z-index: 100000
}

