// ==========================================================================
//   FORMS
// ==========================================================================

legend:not(.fsLabel):not(.accordion-header),
.form-item:not(.form-item--checkbox):not(.form-item--radio) > label.form-item__label:not(.option), // old twig from ganson
.form-item:not(.form-item--checkbox):not(.form-item--radio) > label:not(.option) {
  @extend %label-caps;
}

input.form-text,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"] {
  width: 100%;
  height: $form-item-height;
  line-height: $form-item-height;
  padding: $gutter/4;
  border: 1px solid $base-border-color;
  &:focus {
    outline: none;
    border: 2px solid $primary-color;
  }
}

input[type="url"] {
  height: $form-item-height;
  line-height: $form-item-height;
  padding: $gutter/4;
  width: auto;
  max-width: 100%;
  border: 1px solid $base-border-color;
  &:focus {
    outline: none;
    border: 2px solid $primary-color;
  }
}

input[type="search"] {
  width: auto;
}

input[type="file"] {
  &:focus {
    outline: $primary-color 2px solid;
    outline-offset: 2px; // hard to see without an offset
  }
}

// Limit the width of the form item wrappers
.form-item--textfield,
.form-item--password,
.form-item--email {
  max-width: $body-width;
}

// Default gutters on wrappers
.form-item--textfield,
.form-item--password,
.form-item--email,
.form-item--select,
.form-item--url,
.form-item--tel,
.form-item--webform-document-file,
.form-item--checkbox,
.js-form-item:not(.form-type-radio):not(.js-form-item-search-api-fulltext) {
  margin-bottom: $vertical-spacing-forms !important;
}

// Custom checkboxes
// Radio & Checkbox

.form-checkboxes,
.form-item--checkboxes {
  .js-form-item.form-type-checkbox {
    margin-bottom: 5px !important;
  }
}

.form-item--checkbox, // old ganson twig
.form-item--radio, // old ganson twig
.form-type-checkbox,
.form-type-radio {
  line-height: 1.25;
}

input[type="radio"]:not(.fsField),
input[type="checkbox"]:not(.fsField) {
  opacity: 0;
  height: 0;

  & + label {
    display: flex;
    justify-content: flex-start;
    margin: .15em 0;

    &:before {
      display: inline-block;
      font-family: $icomoon;
      font-style: normal;
      @include font-weight(normal);
      line-height: .8em;
      font-size: .875rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin: {
        top: .2em;
        right: .4em;
      }
    }
  }

  &:focus {
    & + label:before {
      //outline: rgb(59, 153, 252) auto 5px;
      outline: $primary-color 2px solid;
      outline-offset: 2px; // hard to see without an offset
    }
  }
}

// Checkbox
input[type="checkbox"]:not(.fsField) {
  & + label {
    font-size: .875rem;
    &:before {
      content: $icon-checkbox-off; /* Checkbox Unchecked */
      color: $base-font-color;
    }
  }
  &:checked + label:before {
    content: $icon-checkbox-on; /* Checkbox Checked */
    color: $base-font-color;
  }
}

// Radio
input[type="radio"]:not(.fsField) {
  & + label {
    //display: inline-block;
    display: block;
    font-size: .875rem;
    &:before {
      content: $icon-radio-off; /* Radio Unselected */
      color: $base-font-color;
    }
  }
  &:checked + label:before {
    content: $icon-radio-on; /* Radio Selected */
    color: $base-font-color;
  }
}

// The "Custom Select" wrapper has been added to select form elements which makes the
// form element 100% of its container. All styling is in custom-select partial
select {
  &:focus {
    //outline: rgb(59, 153, 252) auto 5px !important;
    outline: $primary-color 2px solid !important;
    outline-offset: 2px !important; // hard to see without an offset
  }
}

// Submit
input[type="submit"] {
  &.button-link {
    height: $form-item-height;
  }
  &:focus {
    //outline: rgb(59, 153, 252) auto 5px !important;
    outline: $primary-color 2px solid !important;
    outline-offset: 2px !important; // hard to see without an offset
  }
}

.form-managed-file {
  .submit-button {
    border: none;
  }
}

// Fieldsets
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
    border: 1px solid $primary-color;
  }
}
#block-nefa-mainpagecontent fieldset.webform-composite-hidden-title {
  margin-top: 0;
  margin-bottom: 0;
}

// Details
details {
  border: $base-border;
  margin-top: $gutter;
  margin-bottom: $gutter;
  summary {
    outline: none;
    cursor: pointer;
    padding: 0.2em 0.5em;
    &:focus {
      outline: none;
      border: 2px solid $primary-color;
    }
  }
  summary[aria-pressed="true"] { // border applied on details
    &:focus {
      outline: none;
      border: 0;
    }
  }
  .collapse-processed > summary {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

details > .details-wrapper,
details > .details__content {
  padding: 0.5em 1.5em;
}

// Webforms
.webform-submission-form {
  max-width: $body-width;
  span.is-required,
  label.is-required, // from old ganson twig files
  span.form-required,
  label.js-form-required {
    &:after {
      content: "*";
      color: $tomato;
    }
  }
}

.js-webform-type-checkboxes,
.js-webform-type-radios {
  legend {
    margin-bottom: 5px;
  }
}

.webform-select-other--wrapper,
.form-item--webform-markup,
.webform-type-radios,
.webform-type-checkboxes,
textarea {
  margin-bottom: $vertical-spacing-forms;
}

.webform-select-other--wrapper {
  .form-item--select {
    margin-bottom: 0;
  }
}

textarea {
  display: block;
  width: 100%;
  border: 1px solid $base-border-color;
  &:focus {
    outline: none;
    border: 2px solid $primary-color;
  }
}

.webform-submission-form {
  .webform-element-description {
    padding-top: $gutter/4;
    @include font-size(12px);
    @include font-weight(medium);
  }
  .form-actions {
    margin-top: $gutter;
  }
}
#edit-i-have-read-and-agree-to-nefa-s-privacy-policy-and-terms-conditi--description {
  font-size: .875rem;
}

// FormStack - reset some of our styling as it should only apply when labels are AFTER the input element
// Otherwise the input element is hidden.

label {
  input {
    display: inherit !important;
  }
}

.form-item.form-item--id-phone {
  margin-bottom: 30px;
}

#webform-submission-join-our-mailing-list-node-10387-add-form .form-item__label {
  font-size: .875rem;
}
