// ==========================================================================
//   MEDIA
//   Images, Videos, Captions, etc.
// ==========================================================================

picture,
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

figure,
article {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  &.embedded-entity {
    margin: 0 0 rem($vertical-spacing) 0;
  }
  &.align-left {
    float: none;
    @media #{media($sidebar)} {
      float: left;
      margin: $gutter/2 $gutter $gutter 0;
      max-width: 35%;
    }
  }
  &.align-right {
    float: none;
    @media #{media($sidebar)} {
      margin: $gutter/2 0 $gutter $gutter;
      float: right;
      max-width: 35%;
    }
  }
}
//Sometimes the code looks like this
.embedded-entity {
  margin: 0 0 rem($vertical-spacing) 0;
  &.align-left {
    float: none;
    @media #{media($sidebar)} {
      float: left;
      margin: $gutter/2 $gutter $gutter 0;
      max-width: 35%;
    }
  }
  &.align-right {
    float: none;
    @media #{media($sidebar)} {
      margin: $gutter/2 0 $gutter $gutter;
      float: right;
      max-width: 35%;
    }
  }
}

figure {
  margin: 0 0 rem($vertical-spacing);
  figcaption {
    @extend %caption;
  }
}

caption {
  margin-bottom: rem($vertical-spacing / 2);
}

.field--type-image {
  a {
    &:focus {
      outline-offset: 5px; // hard to see without an offset
    }
  }
}
