// ==========================================================================
//   TYPOGRAPHICAL STYLES
//   1. HTML elements
//   2. Styles applied in the RTE and other admin edit forms (views, field formatters, etc).
// ==========================================================================

/* 1. HTML elements
   ========================================================================== */
html {
  font-family: $base-font-family;
  box-sizing: border-box;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  color: $base-font-color;
  background: $base-background-color;
  font-family: $base-font-family;
  @include font-size($base-font-size);
  @include font-weight(medium);
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
}

p {
  margin: 0 0 rem($vertical-spacing);
  &:last-child {
    margin-bottom: 0;
  }
}

a[href] {
  color: $link-color;
  @include font-weight(semibold);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $link-color-hover;
    @include font-weight(semibold);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: inherit;
  letter-spacing: $heading-letter-spacing;
  line-height: $heading-line-height;
  //text-transform: capitalize;
  margin-top: 1.5em; // This will vary based on font size
  margin-bottom: rem($vertical-spacing); // Same bottom gutter as most elements
  text-rendering: optimizeLegibility;
  hyphens: none;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  a[href] {
    color: $action-color;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: $link-color-hover;
    }
  }
}

h1 {
  @include font-size($h1-font-size-mobile);
  @include font-weight(medium);
  color: $white;
  @media #{media($main-nav)} {
    @include font-size($h1-font-size);
  }
  strong {
    @include font-weight(medium);
  }
}

h2 {
  @include font-size($h2-font-size-mobile);
  @include font-weight(medium);
  color: $secondary-color;
  @media #{media($main-nav)} {
    @include font-size($h2-font-size);
  }
  strong {
    @include font-weight(medium);
  }
}

h3 {
  @include font-size($h3-font-size-mobile);
  @include font-weight(semibold);
  //color: $base-font-color;
  @media #{media($main-nav)} {
    @include font-size($h3-font-size);
  }
  strong {
    @include font-weight(semibold);
  }
}

h4 {
  @include font-size($h4-font-size);
  @include font-weight(semibold);
  //color: $primary-color;
  text-transform: uppercase;
  letter-spacing: .5px;
  @media #{media($main-nav)} {
    @include font-size($h4-font-size);
  }
  strong {
    @include font-weight(semibold);
  }
}

h5 {
  @include font-size($h5-font-size);
  @include font-weight(bold);
  color: $primary-color;
  text-transform: uppercase;
  @media #{media($main-nav)} {
    @include font-size($h5-font-size);
  }
}

h6 {
  @include font-size($h6-font-size);
  @include font-weight(bold);
  color: $primary-color;
  text-transform: uppercase;
  @media #{media($main-nav)} {
    @include font-size($h6-font-size);
  }
}

pre {
  background-color: none;
  display: block;
  border: $base-border;
  white-space: pre-wrap;
  font-family: $monospace-font-family;
  margin: 0 0 rem($vertical-spacing);
}

/* 2. Styles applied via the RTE
   ========================================================================== */

.intro {
  font-family: $base-font-family;
  @include font-size(20px);
  @include font-weight(medium);
  a {
    &:hover {
      @include font-weight(semibold);
      text-decoration: underline;
    }
  }
}

.citation {
  @include font-size(14px);
  @include font-weight(semibold);
  //letter-spacing: 1px;
  color: $charcoal;
  text-transform: uppercase;
  a {
    color: $cerulean;
    @include font-weight(bold);

  }
}

.caption {
  @extend %caption;
}

a.more-link,
a.arrow-link,
.arrow-link a {
  color: $action-color;
  position: relative;
  @include font-weight(bold);
  text-transform: none;
  text-decoration: none;
  margin-right: 1em;
  &:after {
    display: inline-block;
    vertical-align: middle;
    font-family: $icomoon;
    content: $icon-arrow-right;
    color: inherit;
    font-size: .65em;
    text-align: center;
    @include font-weight(normal);
    text-decoration: none;
    padding: 0 0 0 .25em;
    border-bottom: 1px dotted transparent;
  }
  &:hover,
  &:active {
    color: $link-color-hover;
    &:after { /* nifty depress action!*/
      //margin-left: 2px;
    }
  }
}

div.more-link { // keep on same line as trimmed text
  display: inline-block;
  text-align: left;
  a {
    text-transform: uppercase;
    font-size: .8em;
  }
}