// ==========================================================================
//   ICON HELPERS
// ==========================================================================

%icon-font {
  box-sizing: border-box;
  @include font-weight(normal);
  font-style: normal;
  text-decoration: none;
  text-indent: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  zoom: 1;
}

@mixin dl-icon($iconContent, $fontsize:30px, $iconColor: inherit, $fontfamily: $icomoon, $iconWidth: 30px , $iconHeight:30px, $hoverBackground: $primary-color) {
  width: $iconWidth;
  height: $iconHeight;
  text-indent: -9999px;
  overflow: hidden;
  color: $iconColor;
  &:before {
    display: block;
    @extend %icon-font;
    content: $iconContent;
    font-family: $fontfamily;
    text-align:center;
    width: $iconWidth;
    height: $iconHeight;
    font-size: $fontsize;
    line-height: $iconHeight;
  }
  &:hover,
  &:focus {
    color: $hoverBackground;
  }
}

@mixin dl-icon-linked($iconContent, $fontsize:30px, $iconColor: inherit, $fontfamily: $icomoon, $iconWidth: 30px , $iconHeight:30px)  {
  text-decoration: none;
  @include dl-icon($iconContent, $fontsize, $iconColor, $fontfamily, $iconWidth, $iconHeight);
  display: inline-block;
}

@mixin dl-rounded-icon($bgcolor: $white, $radius: 50%) {
  display: inline-block;
  @include border-radius($radius);
  background-color: $bgcolor;
  padding:0;
  &:hover,
  &:focus {
    background-color: lighten($bgcolor, 10%);
  }
}

@mixin dl-square-icon($bgcolor: $white) {
  display: inline-block;
  background-color: $bgcolor;
  padding:0;
  &:hover {
    background-color: lighten($bgcolor, 10% );
  }
}