// ==========================================================================
//   GENERAL LAYOUT HELPERS
// ==========================================================================

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin clearfix-important {
  &::after {
    clear: both !important;
    content: '' !important;
    display: table !important;
  }
}

@mixin center-block {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}