@import "../init/breakpoint";

// ==========================================================================
//   MEDIA QUERY HELPERS
// ==========================================================================


// Tony's media query functions (removed the unused $theme variables that were causing problems)
// Calculate dynamic breakpoints
@function breakpoint($name) {
  // Make sure $name is never lower than 0 or higher than 100
  @if $name < 0 {
    $name: 0;
  }
  @elseif $name > 100 {
    $name: 100;
  }

  $value: map-get($breakpoints, $name);

  // If the key exists, return its value
  @if $value != null {
    @return $value;
  }

  // Make sure 0 returns 0, unless otherwise defined
  @if $name == 0 {
    @return 0;
  }

  $min: 0;
  $max: 100;
  $i: 1;
  $count: length($breakpoints);

  @each $key, $value in $breakpoints {
    // Normalize the 0 key so that it always returns 0
    @if $key == 0 {
      $value: 0;
    }

    @if ($name > $min) and ($name < $key) {
      $high: $key - $name;
      $low: $name - $min;
      $highval: $value;
      $lowval: breakpoint($min);

      @return (($high * $lowval) + ($low * $highval)) / ($high + $low);
    }

    // Only if we've already reached the last declared breakpoint
    @if ($i == $count) and ($name > $key) {
      @return $name / $key * $value;
    }

    $min: $key;
    $i: $i +1;
  }

  @return null;
}


// Get a width value associated with a breakpoint name
$media: () !default;
@function width($mediaid) {
  @return breakpoint($mediaid);
}

// Get a media query associated with a breakpoint name
@function media($mediaid, $dimension: min-width, $mediatype: screen) {
  $width: width($mediaid);
  @return $mediatype + " and (" + $dimension + ": " + $width + ")";
}


// Eventually delete the following old media query functions/mixinsonce testing is complete

// BP
// Use the breakpoint names defined in breakpoint.scss
// The $direction argument can be either "up", "down" or a second breakpoint
// (higher or lower than the first).

//@function create-media-query($min: "none", $max: "none") {
//  @if $min == "none" and $max == "none" {
//    @warn "You must provide a min or a max value to writeMediaQuery()";
//  }
//  @else {
//    $minText: "";
//    $maxText: "";
//    $andText: "";
//
//    @if $min != "none" {
//      $minText: "(min-width: #{$min})";
//    }
//    @if $max != "none" {
//      $maxText: "(max-width: #{$max})";
//    }
//    @if $maxText != "" and $minText != "" {
//      $andText: " and ";
//    }
//
//    @return "#{$minText}#{$andText}#{$maxText}";
//  }
//}
//
//// min is inclusive, max is not
//@mixin bp($bp, $direction) {
//  $min: false;
//  $max: false;
//  $output: false;
//
//  $bp1Index: map-get($breakpoints, $bp);
//
//  @if $bp1Index == null {
//    @warn "Your breakpoint," + $bp + ", wasn't found in the named breakpoints array.";
//  }
//  @else {
//    $bp1Point: nth($bp1Index, 1) ;
//
//    @if $direction == 'up' {
//      $min: $bp1Point;
//      $output: create-media-query($min);
//    }
//    @else if $direction == "down" {
//      $max: $bp1Point - 1px;
//      $output: create-media-query("none", $max);
//    }
//    @else {
//
//      $bp2Index: map-get($breakpoints, $direction);
//
//      @if $bp2Index == null {
//        @warn $bp2Index + " was not found in the breakpoints array.";
//      }
//      @else {
//        $bp2Point: nth($bp2Index, 1) ;
//
//        @if $bp1Point < $bp2Point {
//          $min: $bp1Point;
//          $max: $bp2Point;
//        }
//        @else {
//          $min: $bp2Point;
//          $max: $bp1Point;
//        }
//        $output: create-media-query($min, $max - 1px);
//      }
//    }
//    @media #{$output} { @content };
//  }
//}