// ==========================================================================
//   TYPOGRAPHY HELPERS
// ==========================================================================


// Convert pixel values to rem.
@function rem($px, $base: $base-font-size) {
  @return ($px / $base) * 1rem;
}

@mixin font-size($px, $base: $base-font-size) {
  font-size: $px; // fallback for old browser
  font-size: ($px / $base) * 1rem;
}

@mixin font-weight($weight) {
  font-weight: map-get($font-weights, $weight);
}