{%
  set removeClasses = [
    'form-' ~ type|clean_class,
    'required',
  ]
%}
{%
  set addClasses = [
    dropbutton ? 'dropbutton__button',
    type ? 'form-item__' ~ type|clean_class,
    required ? 'is-required',
  ]
%}
<div class="submit-button">
<input{{ attributes.removeClass(removeClasses).addClass(addClasses) }}>{{ children }}</div>
