{#
/**
 * @file
 * Display Suite fluid 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 */
#}

{% set top = top|render %}
{% set bottom = bottom|render %}

{% if (top and not bottom) or (bottom and not top) %}
  {% set layout_class = 'group-one-row' %}
{% endif %}

<{{ outer_wrapper }}{{ attributes.addClass(layout_class, 'ds-2row', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  {% if top %}
    <div class ="group-top">
      {{ top }}
    </div>
  {% endif %}

  {% if bottom %}
    <div class ="group-bottom">
      {{ bottom }}
    </div>
  {% endif %}

</{{ outer_wrapper }}>
