{#
/**
 * @file
 * Custom Display Suite Fluid two column banner with footer layout.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 */
#}

{% set image_full = image_full|render %}
{% set image = image|render %}
{% set text = text|render %}
{% set caption = caption|render %}

{% if (image and not text) or (text and not image) %}
  {% set layout_class = 'group-one-column' %}
{% endif %}

{#Custom DS plugin determines if the full width image gets displayed#}
{% if (image_full) %}
    {% set banner_class = 'full-width-image' %}
{% endif %}
{#Custom DS plugin determines if the small banner image gets displayed#}
{% if (image) %}
    {% set banner_class = 'small-image not-full' %}
{% endif %}
{% if (not image_full and not image) %}
    {% set banner_class = 'no-image not-full' %}
{% endif %}

<{{ outer_wrapper }}{{ attributes.addClass(banner_class, layout_class, 'ds-banner', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

{% if image_full %}
    <div class="group-image-full">
        {{ image_full }}
    </div>
{% endif %}

<div class="row-background"><div class="row-width">
 {% if image %}
    <div class="group-image"
         style="background-image: url('{{ file_url(node.field_main_image.entity.field_image.entity.uri.value | image_style('banner_small')) }}');
         background-position: center center; background-repeat: no-repeat; background-size: cover;">
        <div class="background-design"></div>
        {{ image }}
    </div>
  {% endif %}

  {% if text %}
      <div class="group-text">
      {{ text }}
    </div>
  {% endif %}

  {% if not image_full and not image %}
    <div class="group-no-image"><div class="background-design"></div></div>
  {% endif %}

</div></div>

{% if caption %}
    <div class="group-caption"><div class="caption-wrapper">
    {{ caption }}
  </div></div>
{% endif %}

</{{ outer_wrapper }}>
