// ==========================================================================
//   COLORS
// ==========================================================================

// Color palette specific to this site

//$charcoal:       #15212C; // darkest
//$smoke:          #3C4748;
$gray:           #6B7C7E;
$pale-gray:      #E5E5E5; // lightest

//$dark-turquoise: #2F6D82; // darkest
//$turquoise:      #56A0B7;
//$pale-turquoise: #B1C6C7; // lightest
//$gold:           #E8A816;

// nefa colors

//$orange:         #F07701;
$orange:         #E47301;
$dark-teal:      #225B66;
$medium-teal:    #02737E;
$teal:           #01828e;
$light-teal:     #00949e;
$aqua:           #7ad2d6;
$cerulean:       #4598cc;
$charcoal:       #434345;
$light-charcoal: #76757A;
$nefa-grey:      #807f83;
$misty:          #b3b3b3;
$ice:            #e2e2e2;
$light-ice:      #EBEAE9;


// Standard colors

$black:          #000000;
$white:          #ffffff;

// Message colors

$light-green:    #8dbe51;
$mustard:        #ddc44f;
$tomato:         #cd4533;
