// ==========================================================================
//   FONTS
// ==========================================================================

@mixin add-font($fontName, $fontPath, $fontTag, $fontWeight, $fontStyle) {
  @font-face {
    font-family: $fontName;
    src: url($fontPath +'.eot');
    src: url($fontPath +'.eot?iefix') format('eot'),
    url($fontPath +'.woff') format('woff'),
    url($fontPath +'.ttf') format('truetype'),
    url($fontPath +'.svg'+ $fontTag) format('svg');
    font-weight: $fontWeight;
    font-style: $fontStyle;
  }
;
}

// ICO Moon Ultimate Font
@include add-font(
  $fontName: 'ICO Moon',
  $fontPath: '../../static/fonts/icomoon/icomoon',
  $fontTag: '#icomoon',
  $fontWeight: normal,
  $fontStyle: normal);

// Typekit & Google fonts are loaded as libraries. Icon fonts are embedded above.
$whitney: "Whitney SSm A", "Whitney SSm B", sans-serif;
$open-sans: "Open Sans", sans-serif;
$icomoon: "ICO Moon", sans-serif;

// Font weight
$font-weights: (
  light:300,
  normal: 400,
  book: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);