// Breadcrumb styles

.breadcrumb {
  padding-bottom: $gutter;
  ol,
  ul {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
    a {
      @include font-size(12px);
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      &:after {
        display: inline-block;
        padding-left: .25em;
        padding-right: .25em;
        content: ">";
        font-size: .8em;
      }
    }
  }
}

// Do not show these breadcrumbs on nodes.
// They are being added via a custom DS field instead.
.page-node {
  .block-system-breadcrumb-block {
    // The breadcrumb block is being hidden on /node/* in the Block UI, but just in case that gets
    // removed, hide the block with css too.
    display: none;
  }
}