.menu--footer {
  ul.menu {
    max-width: 480px;
    margin: 0 auto;
    @media #{media(50)} {
      margin: 0;
      max-width: 100%;
    }
    li {
      margin-bottom: .5rem;
      padding-right: $gutter/2;
      @media #{media(50)} {
        display: block;
        margin-bottom: .2rem;
        padding-right: $gutter/2;
      }
      @media #{media(67)} {
        display: inline-block;
      }
    }
  }
}
