//=============================================================================
//   MAIN MENU (Superfish)
//=============================================================================

//**************** TOP LEVEL *************/

$bgcolor:                transparent;

// Top Level - Border
$item-border-width:       0;
$item-border-style:       solid;
$item-border-color:       $white;

// Top Level -  Font
$item-font-family:        $base-font-family;
//$item-font-weight:        bold;
$item-text-transform:     uppercase;
$item-text-align:         center;

// Top Level -  Color
$item-color:              $primary-color;
$item-color-hover:        $secondary-color;
$item-color-active:       $secondary-color;

// Top Level - Background Color
$item-bgcolor:           transparent;
$item-bgcolor-hover:     transparent;
$item-bgcolor-active:    transparent;

//**************** INNER LEVEL (drop down) *************/

$inner-bgcolor:               transparent;

// Inner Level - Border
$inner-item-border-width :    0;
$inner-item-border-style:     solid;
$inner-item-border-color:     $white;

// Inner Level -  Font
$inner-item-font-family:        $base-font-family;
//$inner-item-font-weight:        bold;
$inner-item-text-transform:     capitalize;
$inner-item-text-align:         left;

// Inner Level - Color
$inner-item-color:            $primary-color;
$inner-item-color-hover:      $secondary-color;
$inner-item-color-active:     $secondary-color;

// Inner Level - Background Color
$inner-item-bgcolor:         transparent;
$inner-item-bgcolor-hover:   transparent;
$inner-item-bgcolor-active:  transparent;


// Non-mobile settings
#block-nefa-sf-mainnavigation {
  &.block-superfish {
    width: auto;
    @media #{media($main-nav)} {
      display: inline-block;
      margin-right: 50px; // to allow space for the search icon
    }
  }
}

ul#superfish-main {
  display: none; //
  @media #{media($main-nav)} {
    display: block;
    float: right;
    background-color: $bgcolor;
    margin-top: -8px; // to visually line up with bottom of graphic part of logo
    .block-inner {
      padding: 0;
    }
  }

  /* Any item, at any level */
  li {
    box-sizing: border-box;
    a {
      box-sizing: border-box;
      text-decoration: none;
      &:focus {
        outline: none !important;
      }
    }
  }

  /* Top level only */
  & > li {
    display: inline-block;
    border: $item-border-style $item-border-color;
    border-width: $item-border-width;
    height: $nav-height;

    & > a {
      height: $nav-height;
      background-color: $item-bgcolor;
      color: $item-color;
      font-family: $item-font-family;
      @include font-weight(bold);
      text-transform:  $item-text-transform;
      text-align:  $item-text-align;
      @include font-size(14px);
      letter-spacing: 1px;
      line-height: ($nav-height + 5);
      padding: 0 0 13px 0;
      border: solid;
      border-color: transparent;
      border-width: 0 0 2px 0;
      margin-left: .75em;
      @media #{media(57)} {
        @include font-size(18px);
        margin-left: 1.5em;
      }
      @media #{media(60)} {
        @include font-size(19px);
        margin-left: 1.5em;
      }
    }
    a:hover,
    a:focus,
    &:hover > a,
    &:hover,
    &.active-trail:hover > a,
    &.over > a {
      //border-color: $secondary-color;
      background-color: $item-bgcolor-hover;
      color: $item-color-hover;
    }
    &.active-trail > a {
      border-color: $secondary-color;
      background-color: $item-bgcolor-active;
      color: $item-color;
      &:hover,
      &:focus {
        border-color: $secondary-color;
        background-color: $item-bgcolor-hover;
      }
      @media #{media(57)} {
        color: $item-color-active;
      }
    }
  }

  /* Any inner level (drop-down menu) */
  li ul {
    width: inherit;
    margin-left: -.5em;
    @media #{media(57)} {
      margin-left: .5em;
    }
    @media #{media(60)} {
      margin-left: .5em;
    }
    background: $white;
    opacity: .92;
    border: solid $secondary-color;
    border-width: 2px;
    max-width: 475px;

    li {
      border: $inner-item-border-style $inner-item-border-color;
      border-width: $inner-item-border-width;
      a {
        display: block;
        //white-space: nowrap;
        padding: .5em 1em;
        background-color: $inner-item-bgcolor;
        color: $inner-item-color;
        font-family: $inner-item-font-family;
        @include font-weight(bold);
        text-transform:  $inner-item-text-transform;
        text-align:  $inner-item-text-align;
        @include font-size(16px);
        line-height: 1.2em;
        @media #{media(55)} {
          @include font-size(19px);
        }
        @media #{media(70)} {
          @include font-size(19px);
        }

        // Arrows to indicate secondary menu.
        &:not(:only-child):after {
          position: absolute;
          //top: 10;
          @extend %icon-font;
          font-family: $icomoon;
          content: $icon-subnav;
          font-weight: normal;
          font-size: .9em;
        }
        &:after {
          right: 1em;
          color: $white;
        }
      }
      a:hover,
      a:focus,
      &:hover > a ,
      &.over > a {
        background-color: $inner-item-bgcolor-hover;
        color: $inner-item-color-hover;
      }
      &.active-trail > a {
        background-color: $inner-item-bgcolor-active;
        color: $inner-item-color-active;
      }
    }
  }

  /* Only Second level */
  & > li > ul {
    min-width: 100%;
    right: auto;
    top: auto;
    margin-top: 20px; // dropdown should visually line up with top of banner
    padding: $gutter/2 0 $gutter/2 0;

    & > li {

      & > a {
      }
      &:hover > a,
      &.over > a {
      }

      /* Third level */
      & > ul {
        top: -1; // To account for 1px top border. Otherwise, set to 0
        border-left: 1px solid $inner-item-border-color;
        & > li {
          &.active-trail > a,
          &:hover > a,
          &.over > a {
          }
        }
      }
    }
  }
  &.fouc {
    visibility: hidden;
  }

  // Do not display clone utility nav items if left in main nav from mobile
  .secondary-nav-item {
    display: none;
  }
}
