.menu--social-media {
  li.menu-item {
    display: inline-block;
    margin-top: 0 !important;
    margin-right: .25em; // adjust for whether icon has a visible background
    a {
      // Uncomment if icon has a square or round background
      @include dl-rounded-icon($bgcolor: $cerulean, $radius: 50%);
      //@include dl-square-icon($action-color);

      &:hover,
      &:active {
        text-decoration: none;
      }
    }

    // ICON ONLY - no background (font size, line-height, width, height are the same)

    //// usually bigger for mobile to better suit finger clicks!
    //.facebook {
    //  @include dl-icon-linked($icon-facebook, 45px, $white, $icomoon, 45px, 45px);
    //}
    //.twitter {
    //  @include dl-icon-linked($icon-twitter, 45px, $white, $icomoon, 45px, 45px);
    //}
    //.instagram {
    //  @include dl-icon-linked($icon-instagram, 45px, $white, $icomoon, 45px, 45px);
    //}
    //
    //// can be a little smaller for desktop
    //@media #{media(50)} {
    //  .facebook, .twitter, .instagram {
    //    width: 35px;
    //    height: 35px;
    //    &:before {
    //      font-size: 35px;
    //      width: 35px;
    //      height: 35px;
    //      line-height: 35px;
    //    }
    //  }
    //}


    // ICON with Square or Circle background (font size is smaller than background)

    // usually bigger for mobile to better suit finger clicks!
    .facebook {
      @include dl-icon-linked($icon-facebook, 30px, $white, $icomoon, 45px, 45px);
      &:hover,
      &:focus {
        &:before {
          background: $secondary-color;
          color: $white;
        }
      }
    }
    .twitter {
      @include dl-icon-linked($icon-twitter, 30px, $white, $icomoon, 45px, 45px);
      &:hover,
      &:focus {
        &:before {
          background: $secondary-color;
          color: $white;
        }
      }
    }
    .instagram {
      @include dl-icon-linked($icon-instagram, 30px, $white, $icomoon, 45px, 45px);
      &:hover,
      &:focus {
        &:before {
          background: $secondary-color;
          color: $white;
        }
      }
    }

    // can be a little smaller for desktop
    @media #{media(50)} {
      .facebook, .twitter, .instagram {
        width: 30px;
        height: 30px;
        &:before {
          font-size: 15px;
          width: 30px;
          height: 30px;
          line-height: 30px; // matches width/height to vertically center the icon
        }
      }
    }
  }
}