.menu--utility-navigation {
  display: none;
  @media #{media($main-nav)} {
    display: block;
    float:right;
    ul.menu {
      li {
        display: inline-block;
        margin-bottom: 0;
        position: relative;
        margin-left: .5em;
        //float:left;
        //padding: 0 1.5em 0 .5em;
        //&:after {
        //  display: block;
        //  position: absolute;
        //  top: 2em;
        //  right: 0;
        //  margin-right: 1.5em;
        //  font-family: $icomoon;
        //  font-size: .25em;
        //  line-height: 1;
        //  content: $icon-circle;
        //  color: $blue-gray;
        //}
        //&:last-of-type {
        //  padding-right: .5em;
        //  &:after {
        //    content: "";
        //  }
        //}
        //a {
        //  text-decoration: none;
        //  @include font-size(15px);
        //  @include font-weight(medium);
        //}
      }
    }
  }
}