// Admin Overrides to styles applied to node edit forms and other admin themed elements

.layout-node-form {
  // Add gutter to paragraph fields on node edit forms.
  .field--type-entity-reference-revisions {
    margin: 1em 0;
    .paragraphs-subform {
      .js-form-wrapper {
        margin: 0 0 1em 0;
      }
    }
  }
}