{#
/**
 * @file
 * Default theme implementation of a container used to wrap embedded entities.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - url: The (sanitized) URL to link the embedded entity to, if any.
 *
 * @see template_preprocess_entity_embed_container()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>{% if url %}<a href='{{ url }}' {{ url_attributes|default('') }}>{{ children }}</a>{% else %}{{ children }}{% endif %}</div>
