{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  paragraph.bundle|clean_class,
  'section',
  'section--type-' ~ paragraph.bundle|clean_class,
  view_mode ? 'section--view-mode-' ~ view_mode|clean_class,
]
%}

{# Attach CSS/JS Libraries #}
{{ attach_library('nefa/a11y-tabs') }}

{# Sets Unique ID for Tab set from Paragraph ID. #}
{% set section_id = 'section' ~ paragraph.id.value %}
{% set tab_id = 'tab' ~ paragraph.id.value %}

<div{{ attributes.addClass(classes) }}>
  {# add wrapper and classes #}
  <div class="paragraph-wrapper">

    {{ content.field_heading }}

    {#    Do not display as tabs for mobile#}
    <div class="non-tabs">
      {# Loops through the tab sections to prints the tabs. #}
      {% for key, item in content.field_sections if key|first != '#' %}

        <h2>{{ item['#paragraph'].field_section_title.value }}</h2>
        {{ drupal_entity('paragraph', item['#paragraph'].id.value) }}

      {% endfor %}

    </div>

    {#    Display as tabs when browser is wide enough#}

    <div class="tofu-tabs js-tabs fouc">

      <ul class="js-tablist"  data-existing-hx="h2" data-tabs-prefix-class="tofu-tabs">

        {# Loops through the tab sections to print the tab section titles. #}
        {% for key, item in content.field_sections if key|first != '#' %}

          <li class="js-tablist__item">
            <a href="#{{ section_id }}-{{ key + 1 }}" id="label_{{ section_id }}-{{ key + 1 }}" class="js-tablist__link">{{ item['#paragraph'].field_section_title.value }}</a>
          </li>

        {% endfor %}

      </ul>

      {#   the following wrapper and class is not necessary for the jQuery plugin - just for styling flexibiilty   #}
      <div class="tabcontent-wrapper">

        {# Loops through the tab sections and prints the individual tabs. #}
        {% for key, item in content.field_sections if key|first != '#' %}

          <div id="{{ section_id }}-{{ key + 1 }}" class="js-tabcontent">

            <h2 class="invisible">
              {{ item['#paragraph'].field_section_title.value }}
            </h2>

            {#   the following wrapper and class is not necessary for the jQuery plugin - just for styling flexibiilty   #}
            <div class="tabcontent-item-wrapper">


              {{ drupal_entity('paragraph', item['#paragraph'].id.value) }}


            </div>

          </div>


        {% endfor %}

      </div>

    </div>

  </div>
</div>
