{%
set classes = [
'block',
'block-search',
'container-inline',
]
%}
<div{{ attributes.addClass(classes) }}>
  <span class='search-icon' role='button' aria-label='Toggle search box' tabindex='0'></span>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="block-inner">
      {{ content }}
    </div>
  {% endblock %}
</div>
