{%
  set removeClasses = [
    'form-select',
    'required',
  ]
%}
{%
  set addClasses = [
    'form-item__select',
    required ? 'is-required',
  ]
%}
{% spaceless %}
<div class="cs-button custom-select">
  <select{{ attributes.removeClass(removeClasses).addClass(addClasses) }}>
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>
  </div>
{% endspaceless %}
