/* =============================================================================
   ACCORDIONS
   This is applied to accordions created in the RTE
================================================================================ */

// The icon
%accordion-title-close {
  &:after {
    font-family: $accordion-icon-font;
    content: $icon-accordion-close;
  }
}

%accordion-title-open {
  &:after {
    font-family: $accordion-icon-font;
    content: $icon-accordion-open;
  }
}

// The title
%accordion-title {
  clear: both;
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 100%;
  &:first-of-type {
    margin: 1em 0 0 0;
  }
  margin: 0;
  //padding: 8px .25em 8px 50px; // Icon on Left: Top padding aligns with icon, bottom padding addresses multi-line
  padding: 1em 50px 1em .5em; // Icon on Right: Top padding aligns with icon, bottom padding addresses multi-line
  min-height: $accordion-header-size;
  color: $accordion-title-color;
  background-color: $accordion-title-background;
  border-width: $accordion-title-border-width;
  border-style: $accordion-title-border-style;
  border-color: $accordion-title-border-color;
  @include font-size($accordion-title-font-size-mobile);
  letter-spacing: 0;
  @media #{media($sidebar)} {
    @include font-size($accordion-title-font-size);
    line-height: $accordion-title-font-size;
  }
  &:after {
    display: inline-block;
    position: absolute;
    top: .5em;
    //left: 0; // Icon on left
    right: 0; // Icon on right
    width: $accordion-header-size;
    height: $accordion-header-size;
    background-color: $accordion-icon-background;
    @extend %icon-font;
    font-family: $accordion-icon-font;
    font-size: $accordion-icon-font-size-mobile;
    color: $secondary-color;
    @include font-weight(normal);
    text-align: center;
    line-height: $accordion-header-size;
    @media #{media($sidebar)} {
      font-size: $accordion-icon-font-size;
      top: .5em;
    }
  }
  &:hover {
    cursor: pointer;
    //&:after {
    //  //background-color: $accordion-icon-background-hover;
    //}
  }
  &:focus {
    outline: 1px dotted;
  }
}

// The content
%accordion-content {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0 0 1em 0;
  overflow: hidden;
  padding: $accordion-content-padding;
  border-width: $accordion-content-border-width;
  border-style: $accordion-content-border-style;
  border-color: $accordion-content-border-color;
}

// Accordion Header
.accordion-header {
  position: relative; // ensure the absolute positioned icon lines up correctly
  border-top: 1px solid $base-border-color;

  @extend %accordion-title;
  @extend %accordion-title-open;
  &.open {
    @extend %accordion-title-close;
  }
}

// Accordion Content
.accordion-content {
  @extend %accordion-content;
  // Delay the bullet icon until after the accordion content is completely open
  ul {
    li,
    li:not(.is-visible) { // class added by jQuery
      &:before {
        opacity: 0;
      }
    }
    li.show-bullet { // class added by jQuery
      &:before {
        opacity: 1;
      }
    }
  }
}

.accordion-end {
  border-top: 1px solid $base-border-color;
  margin: 0;
  padding: 0;

}