/* =============================================================================
   DROPDOWNS
   This is applied to BEF filter dropdowns
================================================================================ */

// The icon
%dropdown-title-close {
  &:after {
    font-family: $icomoon;
    content: $icon-dropdown-close;
  }
}

%dropdown-title-open {
  &:after {
    font-family: $icomoon;
    content: $icon-dropdown-open;
  }
}

// The title
%dropdown-title {
  clear: both;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  &:first-of-type {
    //margin: 1em 0 0 0;
  }
  margin: 0;
  padding: 0 50px 0 .5em; // Icon on Right: Top padding aligns with icon, bottom padding addresses multi-line
  min-height: 35px;
  color: $base-font-color;
  background-color: $white;
  border-width: 1px;
  border-style: solid;
  border-color: $base-border-color;
  @include font-size(14px);
  @include font-weight(normal);
  line-height: 35px;
  &:after {
    display: inline-block;
    position: absolute;
    top: .2em;
    right: .5em; // Icon on right
    width: 16px;
    height: 16px;
    background-color: $white;
    @extend %icon-font;
    font-family: $icomoon;
    font-size: 16px;
    color: $secondary-color;
    @include font-weight(normal);
    text-align: center;
    line-height: 30px;
    @media #{media($sidebar)} {
      //font-size: $dropdown-icon-font-size;
      //top: .5em;
    }
  }
  &:hover {
    cursor: pointer;
    //&:after {
    //  //background-color: $dropdown-icon-background-hover;
    //}
  }
  &:focus {
    outline: 1px dotted;
  }
}

// The content
%dropdown-content {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: -1px 0 0 0;
  overflow: hidden;
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: $base-border-color;
  background: $white;
}

// dropdown Header
.dropdown-header {
  position: relative; // ensure the absolute positioned icon lines up correctly
  //border-top: 1px solid $base-border-color;

  @extend %dropdown-title;
  @extend %dropdown-title-open;
  &.open {
    @extend %dropdown-title-close;
  }
}

.dropdown-header + .dropdown-content {
  position: absolute;
  left: 0;
  width: 185px;
  max-width: 450px; //a max-width value is required for lining to the right
  z-index: 2;
  .form-item {
    width: 100%;
  }
  @media #{media(30)} {
    width: 225px;
  }
  @media #{media(50)} {
    left: auto;
    right: 0;
  }
}

// dropdown Content
.dropdown-content {
  @extend %dropdown-content;
  max-height: 150px;
  overflow-y: scroll;
}

// specific dropdown content
.form-item--id-grant_program_filter {
  .dropdown-content {
    width: 250px;
    @media #{media(50)} {
      width: 450px;
    }
  }
}
.form-item--id-field-ccx-presenter-year-target-id {
  .dropdown-content {
    width: 250px;
    @media #{media(50)} {
      width: 380px;
    }
  }
}
.form-item--id-field_topic_target_id {
  .dropdown-content {
    @media #{media(50)} {
      width: 250px;
      .fieldgroup {
        .form-item {
          label {
            
          }
        }
      }
    }
  }
}
.form-item--id-field_state_value {
  .dropdown-content {
    .fieldgroup {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: $gutter/2;

      .form-item {
        label {
          white-space: nowrap;
        }
      }
    }
    @media #{media(50)} {
      width: 350px;
      .fieldgroup {
        grid-template-columns: repeat(5, 1fr);

        .form-item {
          label {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.form-item--id-news-author-filter {
  .dropdown-content {
    width: 250px;
  }
}

.form-item--id-field_fiscal_year_awarded_value {
  .dropdown-content {
    .fieldgroup {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: $gutter/2;
    }
    @media #{media(50)} {
      max-width: 320px;
    }
  }
}

