// =============================================================================
//   SLICK CAROUSELS & SLIDESHOWS
// =============================================================================

$carouselfont:                    $icomoon;
$carouselButtonSize:              40px; // includes bg
$carouselButtonSizeSmall:         30px; // includes bg
$carouselIcon:                    25px; // font size
$carouselIconSmall:               20px; // font size
$carouselIconColor:               $white;
$carouselIconBackground:          $primary-color;
$carouselIconBackgroundHover:     $secondary-color;
$nextIconPosition:                3em;
$prevIconPosition:                3em;

.slick-slider  {
  box-sizing: border-box;
  display: block;
  khtml-user-select: none;
  moz-box-sizing: border-box;
  moz-user-select: none;
  ms-touch-action: pan-y;
  ms-user-select: none;
  position: relative;
  touch-action: pan-y;
  user-select: none;
  webkit-tap-highlight-color: transparent;
  webkit-touch-callout: none;
  webkit-user-select: none;
}
.slick-list  {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 0; // For IE

  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: hand;
    cursor: pointer;
  }
  .slick-loading & {
    //background: white url("../images/ajax-loader.gif") center center no-repeat;
  }
}
.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  //@include transform(translate3d(0, 0, 0)); // do we need this?
}
.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0;
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide,
.slick-active,
.slick-current {
  outline: none !important;
}

.slick-slide {
  display: none;
  float: left;
  //height: 100%; // do we need this?
  min-height: 1px;
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
  .slick-initialized & {
    display: block;
  }
  .slick-loading & {
    visibility: hidden;
  }
  .slick-vertical & {
    border: 1px solid transparent;
    display: block;
    height: auto;
  }
}

.slick-prev,
.slick-next {
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: none !important;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  line-height: $carouselButtonSize;
  height: $carouselButtonSize;
  width: $carouselButtonSize;

  &:hover,
  &:focus {
    background: transparent;
    color: transparent;
    outline: none;
    &:before {
      opacity: 1;
      color: $white;
      background-color: $carouselIconBackgroundHover;
    }
  }

  &:before {
    outline: none !important;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    overflow: visible;
    font-family: $carouselfont;
    line-height: $carouselButtonSize;
    height: $carouselButtonSize;
    width: $carouselButtonSize;
    opacity: 1;
    z-index: 1;
    @extend %icon-font;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    color: $carouselIconColor;
    font-size: $carouselIcon;
    @include font-weight(normal);
    webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale;
    @include dl-rounded-icon($carouselIconBackground);
    &:hover {
      cursor: pointer;
    }
  }

  &.slick-disabled:before {
    opacity: 0.25;
  }
}
.slick-next {
  right: $nextIconPosition;
  &:before {
    //content: $icon-arrow-right;
    content: $icon-arrow-tail-right;
    //padding-left: 3px; // shift arrow icons so they look centered
  }
}
.slick-prev {
  left: $prevIconPosition;
  &:before {
    content: $icon-arrow-tail-left;
    //padding-right: 3px; // shift arrow icons so they look centered
  }
}
.slick-dots {
  bottom: -45px;
  display: block;
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  li {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    position: relative;
    width: 20px;
    button {
      background: transparent;
      border: 0;
      color: transparent;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 20px;
      line-height: 0;
      outline: none;
      padding: 5px;
      width: 20px;
      &:hover,
      &:focus {
        outline: none;
        &:before {
          opacity: 1;
        }
      }
      &:before {
        color: $carouselIconColor;
        content: $icon-dot;
        font-family: $icomoon;
        font-size: 10px;
        width: 20px;
        height: 20px;
        display:block;
        left: 0;
        line-height: 20px;
        opacity: 0.4;
        position: absolute;
        text-align: center;
        top: 0;
        webkit-font-smoothing: antialiased;
        moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      color: $carouselIconColor;
      opacity: 0.75;
    }
  }
}

[dir="rtl"] .slick-next {
  left: -$nextIconPosition;
  right: auto;
}
[dir="rtl"] .slick-next:before {
  content: $icon-arrow-right;
  @include rotate(180);
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -$prevIconPosition;
}
[dir="rtl"] .slick-prev:before {
  content: $icon-arrow-right;
}
[dir="rtl"] .slick-slide {
  float: right;
}

//************************************
// CAROUSEL CUSTOMIZATIONS & OVERRIDES
//************************************

#block-homepagebannertabs {
  .slick-slide {
    img {
      width: 100%;
      max-width: none;
    }
  }
  // arrows show on mobile
  .slick-prev {
    top: calc(10%);
    left: $gutter;
    z-index: 1;
    &:before {
      color: $white;
      background: transparent;
    }
    @media #{media(30)} {
      top: calc(20%);
    }
    @media #{media(40)} {
      top: 170px;
    }
    @media #{media(50)} {
      top: 200px;
    }
    @media #{media(60)} {
      top: 40%;
    }
    @media #{media(80)} {
      top: 50%;
    }
  }
  .slick-next {
    top: calc(10%);
    right: $gutter;
    z-index: 1;
    &:before {
      color: $white;
      background: transparent;
    }
    @media #{media(30)} {
      top: calc(20%);
    }
    @media #{media(40)} {
      top: 170px;
    }
    @media #{media(50)} {
      top: 200px;
    }
    @media #{media(60)} {
      top: 40%;
    }
    @media #{media(80)} {
      top: 50%;
    }
  }
  .slick-next,
  .slick-prev {
    &:hover,
    &:focus {
      //background: transparent;
      //color: transparent;
      outline: none;
      &:before {
        color: $secondary-color;
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
  // dots are customized in js file and display for tablet and desktop
  .slick-dots {
    margin: 0;
    padding: 0;
    @media #{media(40)} {
      bottom: 170px;
      li {
        width: auto;
        height: auto;
        color: white;
        button {
          width: auto;
          height: auto;
          color: white;
          text-transform: uppercase;
          @include font-size(12px);
          @include font-weight(semibold);
          line-height: initial;
          letter-spacing: .5px;
          outline: none;
          padding: $gutter/4;
          border: 1px solid $aqua;
          &:before {
            content: "";
          }
          &:hover,
          &:focus {
            background: $dark-teal;
            border: 1px solid $aqua;
          }
        }
        &.slick-active {
          button {
            background: $dark-teal;
            border: 1px solid $aqua;
          }
        }
      }
    }
    @media #{media(50)} {
      bottom: 200px;
    }
  }
  &.no-banner-caption {
    .slick-dots {
      @media #{media(40)} {
        bottom: 100px;
      }
      @media #{media(50)} {
        bottom: 160px;
      }
    }
  }
}
.statistics { // class applied in UI
  .slick-slider {
    .slick-list {
      margin: 0;
    }
    .slick-slide {
      position: relative;
      vertical-align: middle;
      padding: 0 3.5em;
    }

    .slick-prev {
      top: calc(50% - 15px);
      left: 0;
      z-index: 1;
      @media #{media(40)} {
        top: calc(50% - 20px);
        left: -1.5em;
      }
    }
    .slick-next {
      top: calc(50% - 15px);
      right: 0;
      z-index: 1;
      @media #{media(40)} {
        top: calc(50% - 20px);
        right: -1.5em;
      }
    }
  }
  &.fouc { // class applied on view
    visibility: hidden;
  }
}
.grant-slideshow { // class applied on view
  .slick-slider {
    .slick-list {
      margin: 0;
    }
    .slick-track {
      @media #{media(40)} { // Safari really doesn't like this code in the slider! Must equalize.
        //display: flex;
        //flex-wrap: wrap;
      }
    }
    .slick-slide {
      position: relative;
      vertical-align: middle;
      padding: 0 $gutter;
      @media #{media(40)} {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        padding: 0 $gutter*1.75;
        border-right: 1px solid $base-border-color;
        .node--view-mode-teaser {
          display: flex;
          flex-direction: column;
          flex: 1 0 auto;
        }
        .group-bottom {
          display: flex;
          flex-direction: column;
          flex: 1 0 auto;
          .field--name-body {
            flex-grow: 1;
          }
          .field--name-field-deadline-abbreviated {
            //margin-bottom: auto;
          }
        }
      }
    }
    .slick-prev {
      top: calc(15%);
      left: -$gutter;
      z-index: 1;
      &:before {
        color: $primary-color;
        background-color: transparent;
      }
      @media #{media(30)} {
        top: calc(20%);
      }
      @media #{media(40)} {
        top: calc(15%);
        left: 0;
      }
      @media #{media(50)} {
        top: calc(10%);
      }
      @media #{media(60)} {
        top: calc(15%);
      }
      @media #{media(70)} {
        top: calc(20%);
      }
    }
    .slick-next {
      top: calc(15%);
      right: -$gutter;
      z-index: 1;
      &:before {
        color: $primary-color;
        background-color: transparent;
      }
      @media #{media(30)} {
        top: calc(20%);
      }
      @media #{media(40)} {
        top: calc(15%);
        right: 0;
      }
      @media #{media(50)} {
        top: calc(10%);
      }
      @media #{media(60)} {
        top: calc(15%);
      }
      @media #{media(70)} {
        top: calc(20%);
      }
    }
    .slick-next,
    .slick-prev {
      &:hover,
      &:focus {
        background: transparent;
        color: transparent;
        outline: none;
        &:before {
          opacity: 1;
          color: $secondary-color;
          background-color: transparent;
        }
      }
      &.slick-disabled {
        cursor: not-allowed !important;
        pointer-events: none !important;
        //display: none !important;
        &:before {
          content: "";
        }
        &:hover,
        &:focus {
          background: transparent;
          color: transparent;
          outline: none;
          &:before {
            content: "";
            opacity: .25;
            color: $primary-color;
            background-color: transparent;
          }
        }
      }
    }
  }
  &.fouc { // class applied on view
    visibility: hidden;
  }
}
