// ==========================================================================
//   PARAGRAPHS
// ==========================================================================


// Custom layout
.field--name-field-custom-layout {
  > .field__item {
    float: left;
    margin-top: 0;
    margin-bottom: $vertical-spacing * 2;
    box-sizing: border-box;
    &:last-child {
      margin-bottom: 0;
    }

    // Two Column with Image bundle
    .section--type-two-column-with-image {
      float: left;
      box-sizing: border-box;
      .field--name-field-image {
        padding-bottom: $gutter/4;
      }
      .field--name-field-image-caption {
        display: block;
        clear: both;
        float: left;
        margin: 0 0 $vertical-spacing/2 0;
        font-size: 12px;
        line-height: 18px;
        font-style: italic;
        color: $base-font-color;
      }
      .img-col {
        clear: both;
        float: left;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
      @media #{media(40)} {
        // Image alignment choices
        .left {
          .img-col {
            box-sizing: border-box;
            float: left;
            padding-right: $gutter;
          }
          .text-col {
            float: right;
          }
        }
        .right {
          .img-col {
            box-sizing: border-box;
            float: right;
            padding-left: $gutter;
          }
          .text-col {
            float: left;
          }
        }
        // Image width choices
        .one-quarter {
          .img-col {
            width: 25%;
          }
          .text-col {
            width: calc(100% - 25%);
          }
        }
        .one-third {
          .img-col {
            width: 33.33%;
          }
          .text-col {
            width: calc(100% - 33.33%);
          }
        }
        .one-half {
          .img-col {
            width: 50%;
          }
          .text-col {
            width: calc(100% - 50%);
          }
        }
        .two-thirds {
          .img-col {
            width: 66.66%;
          }
          .text-col {
            width: calc(100% - 66.66%);
          }
        }
        .three-quarters {
          .img-col {
            width: 75%;
          }
          .text-col {
            width: calc(100% - 75%);
          }
        }
      }
    }

    // Text Block bundle
    .section--type-text-block {}
  }
}

// Statistics
.statistics { // class appplied in block ui
  position: relative;
  background: $primary-color;
  color: $white;
  padding: $gutter*3 0;
  .block__title {
    text-align: center;
    color: $white;
    text-transform: uppercase;
  }
  .field--name-field-statistics.field__items {
    width: 100%;
    .field__item {
      float: left;
      box-sizing: border-box;
      width: 100%;
      max-width: 100% !important;
      padding: 0 $gutter;

      .field--name-field-statistics {
        font-family: $open-sans;
        @include font-size(48px);
        color: $white;
        text-align: center;
        margin: 0;
        padding: 0;
      }
      .field--name-field-statistic-label {
        text-align: center;
        margin: 0;
        padding-top: .5em;
        text-transform: uppercase;
        @include font-size(14px);
        @include font-weight(bold);
        a {
          color: inherit;
          font-weight: inherit;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    @media #{media(60)} {
      width: 100%;
      clear: both;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      .field__item {
        float: left;
        padding: 0 $gutter;
        flex-grow: 1;
      }
    }
  }
}

// Featured Video
.paragraph--type-featured-video {
  background: $nefa-grey;
  background-image: url(/themes/custom/nefa/static/img/pattern-gray.png);
  color: $white;
  .group-left,
  .group-right {
    width: 100%;
    float: left;
  }
  .group-right {
    padding: $gutter*2;
    .field + .field {
      margin-top: $gutter;
    }
    h1, h2 {
      color: $white;
    }
  }
  @media #{media(50)} {
    .group-left,
    .group-right {
      width: 50%;
    }
    .group-right {
      padding: $gutter*1.5 $gutter $gutter $gutter*1.5;
      .field + .field {
        margin-top: $gutter/2;
      }
      h1, h2 {
        @include font-size($h3-font-size);
        line-height: 1.15em;
      }
      .field--name-field-description {
        @include font-size($base-font-size*.8);
      }
    }
  }
  @media #{media(60)} {
    .group-right {
      .field + .field {
        margin-top: $gutter*.75;
      }
      h1, h2 {
        @include font-size($h2-font-size);
        line-height: 1.2em;
      }
      .field--name-field-description {
        @include font-size($base-font-size*.9);
      }
    }
  }
  @media #{media(70)} {
    .group-right {
      padding: $gutter*2;
      .field + .field {
        margin-top: $gutter;
      }
      h1, h2 {
        @include font-size($h1-font-size);
      }
      .field--name-field-description {
        @include font-size($base-font-size);
      }
    }
  }
}

.field--name-field-funders {
  max-width: $body-width;
  > .field__label {
    @include font-size(22px);
    @include font-weight(semibold);
    text-transform: capitalize;
    margin: $gutter*2 0 $gutter 0;
  }
  > .field__item {
    > .section {
      .field--name-field-intro {
        margin-bottom: $gutter;
      }
      > .field--name-field-funder {
        > .field__item {
          float: left;
          width: calc((100% - 10%)/3);
          .paragraph--type-funder {
            img {
              max-height: 100px; // an attempt to programmatically size the logos the same
            }
          }
          &:nth-of-type(3n+1) { // First item (1st in row of 3)
            clear: left;
            margin: 0 2.5% 3em 0;
          }
          &:nth-of-type(3n+2) { // Middle item (2nd in row of 3)
            margin: 0 2.5% 3em 2.5%;
          }
          &:nth-of-type(3n+3) { // Last item (3rd in row of 3)
            margin: 0 0 3em 2.5%;
          }
          @media #{media(40)} {
            float: left;
            width: calc((100% - 24%)/5);
            &:nth-of-type(3n+1) {
              clear: none; // reset from previous breakpoint
              width: calc((100% - 24%)/5);
            }
            &:nth-of-type(5n+1) { // First item (1st in row of 5)
              clear: left;
              margin: 0 3% 2em 0;
            }
            &:nth-of-type(5n+2) { // Second item (2nd in row of 5)
              margin: 0 3% 2em 3%;
            }
            &:nth-of-type(5n+3) { // Third item (3rd in row of 5)
              margin: 0 3% 2em 3%;
            }
            &:nth-of-type(5n+4) { // Third item (3rd in row of 5)
              margin: 0 3% 2em 3%;
            }
            &:nth-of-type(5n) { // Last item (4th in row of 5)
              margin: 0 0 2em 3%;
            }
          }
        }
        // specific funder fields
        .field--name-funder-logo-name {
          .funder-name {
            @include font-weight(semibold);
            margin-top: $gutter/2;
          }
        }
      }
    }
  }
}

.paragraph--type-banner-tabs {
  .group-bottom {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
    .banner-overlay {
      position: relative;
      background: rgba(1, 130, 142, 0.9);
      padding: $gutter $gutter*2 $gutter $gutter*2;
      text-align: center;
      color: $white;
      margin: -($gutter*2) $gutter 0 $gutter;
      @media #{media(40)} {
        padding: $gutter*4 $gutter*2 $gutter $gutter*2;
        min-height: 200px;
        //margin-top: -40px;
        margin: -40px $gutter*2 0 $gutter*2;
      }
      @media #{media(50)} {
        padding: $gutter*4 $gutter*2 $gutter $gutter*2;
        min-height: 220px;
        //margin-top: -50px;
        margin: -50px $gutter 0 $gutter;
      }
      @media #{media(60)} {
        margin-top: -60px;
      }
      @media #{media(70)} {
        margin-top: -160px;
        margin-left: 0;
        margin-right: 0;
      }
    }
    .field--name-field-tab-button-label {
      display: inline-block;
      height: auto;
      color: white;
      text-transform: uppercase;
      @include font-size(12px);
      @include font-weight(semibold);
      letter-spacing: .5px;
      padding: $gutter/4;
      background: $cerulean;
      border: 1px solid $cerulean;
      margin-bottom: $gutter;
      @media #{media(40)} {
        display: none;
      }
    }
    .field--name-field-tab-headline {
      h1 {
        a {
          color: $white;
          font-weight: inherit;

          &:hover,
          &:active {
            opacity: .8;
          }
          &:after {
            //display: inline-block; // this causes unexpected line breaks!
            padding-left: .25em;
            font-family: $icomoon;
            content: $icon-arrow-tail-right;
            font-size: .7em;
            color: $white;
          }
        }
      }
    }
    .field--name-field-banner-image-caption {
      padding-top: $gutter/2;
      color: $light-charcoal;
      @include font-size(12px);
      text-align: center;
      margin: 0 $gutter;
    }
  }
}

.paragraph--type-sponsor {
  display: flex;
  flex-wrap: wrap;
  @include responsive-display-2col($width: 60%, $gutter: 7%, $image-container: left);
  > div {
    //display: flex;
    //justify-content: center;
    //flex-direction: column;
  }
  .field--name-sponsor-logo-name {
    @include font-weight(semibold);
  }
  .field--name-field-sponsor-type {
    @include font-size(14px);
  }
}

// Tabs bundle
.section--type-views-tabs {

  padding: $gutter;

  // required styles for the jQuery tab accessibility plugin
  .js-tabcontent[aria-hidden=true] {
    display: none;
  }

  // Non-tqb display for mobile
  .non-tabs {
    display: block;
    padding: $gutter 0;
    .non-tab-section {
      padding: $gutter 0;
      & + .non-tab-section {
        margin-top: $gutter*2;
      }
      div {
        & + div {
          margin-top: $vertical-spacing;
        }
      }
      .non-tab-section-title {
        background-color: $white;
        h2, h3 {
          position: relative;
          background-color: $white;
          padding: $gutter;
        }
      }
    }
    @media #{media($sidebar)} {
      display: none;
    }
  }

  .tofu-tabs {
    display: none;

    @media #{media($sidebar)} {
      display: block;
      overflow: auto;
    }

    //the list of tab links/buttons
    .js-tablist {
      margin: 0;
      padding: 0;
      text-align: center;

      .js-tablist__item {
        display: block;
        width: 100%;
        margin-bottom: 0;
        @media #{media(40)} {
          display: inline-block;
          width: auto;
        }

        .js-tablist__link {
          display: block;
          color: $base-font-color;
          background: $white;
          border: 0;
          padding: 1em 1.5em;
          @include font-size(16px);
          @include font-weight(bold);
          line-height: 18px;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: $primary-color;
          }
          &:focus {
            outline: none;
          }
          @media #{media(60)} {
            padding: 1.5em 2em;
            @include font-size(18px);
          }
        }

        [aria-selected="true"].js-tablist__link {
          background: $light-ice;
          //background-color: lighten($ice, 9%);
          color: $medium-teal;
          border: 0;
          cursor: default;
        }

      }
    }

    // the tab content "panes"
    .tabcontent-wrapper {
      //margin-top: $gutter;
      background: $light-ice;
      //background-color: lighten($ice, 9%);
      padding: $gutter*3 $gutter*2;

      h2.invisible {
        height: 0;
        margin-bottom: 0;
      }

      .js-tabcontent {
        background: transparent;
        padding: 0;
      }
    }

  }
}
