// ==========================================================================
//   SEARCH
// ==========================================================================

// Search Variable

$search-top:                $mobile-header-height; // top edge of search box when it slides in

// Search Icon Configuration
$icon-font-family:          $icomoon;
$icon-color:                $primary-color;
$icon-bgcolor:              transparent;
$icon-bgcolor-mobile:       transparent;
$icon-font-size:            18px;
$icon-height:               $nav-height;
$icon-width:                $nav-height;
$icon-line-height:          $nav-height;

// Input Text Configuration
$inputText-desktop-color:    $white; // Input Text
$inputText-desktop-bgcolor:  transparent;
$inputText-desktop-height:   45px;
$inputText-mobile-color:     $white; // Input Text
$inputText-mobile-height:    35px;


// Responsive Search Trigger Button
$trigger-icon-font-size:    20px;
$trigger-height:            $nav-height;
$trigger-width:             $nav-height;
$trigger-line-height:       $nav-height;
$trigger-top:               ($mobile-header-height - $trigger-height)/2;
$mobile-search-trigger:     40px;

// Sliding Box
$responsiveBox-height:      250px;
$responsiveBox-bgcolor:     $gray;

// The search icon used for either a trigger to reveal the search box OR
// to activate the search when the search box is always visible
%search-icon { // Icon Trigger Configuration
  text-align: center;
  font-family: $icon-font-family;
  content: $icon-search;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  color: $icon-color;
  font-size: $trigger-icon-font-size;
  @include border-radius(5px);
  background-color: $icon-bgcolor-mobile;
  @media #{media($main-nav)} {
    font-size: $icon-font-size;
    @include border-radius(0);
    background-color: $icon-bgcolor;
  }
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    color: $icon-color;
    //background-color: $action-color;
    @media #{media($main-nav)} {
      color: $secondary-color;
    }
  }
  &:focus {
    outline: 1px dotted;
  }
}

// When the search icon is acting as a trigger to reveal the search box
span.search-icon {
  display: none; // search is hidden in mobile menu
  overflow: hidden;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  z-index:2;
  outline: none !important;
  line-height: $mobile-search-trigger;
  height: $mobile-search-trigger;
  width: $mobile-search-trigger;
  border-radius: 0;
  position: absolute;
  top: $mobile-toggle-position;
  right: $mobile-toggle-position;

  &:after {
    z-index:1;
    @extend %search-icon;
    //outline: none !important;
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    overflow: visible;
    line-height: $mobile-search-trigger;
    height: $mobile-search-trigger;
    width: $mobile-search-trigger;
    &:hover {
      cursor: pointer;
    }
  }

  &:focus {
    &:after {
      color: $primary-color;
      @media #{media($main-nav)} {
        color: $secondary-color;
      }
    }
  }

  // If the mobile search box behavior is the same for large viewports too.
  // Otherwise, remove or comment out the following media query.
  @media #{media($main-nav)} {
    display: inline-block;
    //border-left: 1px solid $white;
    width: $nav-search-width;
    line-height: $trigger-line-height;
    height: $trigger-height;
    top: auto;
    right: 0;
    &:after {
      width: $nav-search-width;
      line-height: $trigger-line-height;
      height: $trigger-height;
    }
  }
  // Uncomment if the mobile search box is always visible for large viewports.
  //@media #{media($main-nav)} {
  //  display: none;
  //}
}

// When the search box is revealed by the search trigger for all displays
.block-search,
.block.search-api-page-block-form,
.search-block-form {
  position: absolute;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  width: 100%;
  max-width: $mobile-menu-max-width; // to size similar to mobile menu
  @media #{media($main-nav)} {
    width: 35%;
    top: -5px;
  }
  .block-inner { // hide to start
    display: none;
    position: relative;
    box-sizing: border-box;
    max-height: $responsiveBox-height;
    padding: $gutter;
    background-color: $responsiveBox-bgcolor;
    border: none;
    overflow-y: hidden;
    //top: $trigger-height + 22; // to position similar to menu toggle
    top: $mobile-header-height;
    z-index: 991;
    @media #{media($main-nav)} {
      top: $nav-height;
    }

    //form#search-api-page-block-form,
    //form#search-api-page-block-form--2,
    //form#search-block-form,
    form {
      display: block;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: right;

      .form-item {
        width: auto;
        margin-bottom: 0;
        @media #{media(30)} {
          width: 100%;
        }

        .form-item__label, // old ganson twig
        label {
          display: none;
        }

        input.form-search {
          margin: 0;
          height: 35px;
          @include border-radius(0);
          -webkit-appearance: none;
          width: 100%;
          max-width: 100%;
          background: none;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-bottom: 1px solid $base-border-color;
          color: $inputText-mobile-color;
          font-weight: 600;
          @include font-size(15px);
          &:focus {
            outline: none;
          }
          /* Webkit */
          &::-webkit-input-placeholder {
            color: $pale-gray;
            font-weight: 600;
            @include font-size(15px);
          }
          /* Firefox 4-18 */
          &:-moz-placeholder {
            color: $pale-gray;
            font-weight: 600;
            @include font-size(15px);
          }
          /* Firefox 19+ */
          &::-moz-placeholder {
            color: $pale-gray;
            font-weight: 600;
            @include font-size(15px);
          }
          /* IE10+ */
          &:-ms-input-placeholder {
            color: $pale-gray;
            font-weight: 600;
            @include font-size(15px);
          }
        }
      }

      .form-actions {
        display: none;
      }

    }

    &.open { // class applied via jQuery if toggleClass is used
      display: block;
    }
  }
  .contextual {
    display: none;
  }
}

// The search and submit elements placed directly on the search results page
.region-pre-content, // when using views and not Search API pages
.block-system-main-block {
  .search-form-wrapper {
    @include clearfix;
  }
  form#views-exposed-form-pantheon-solr-content-search-page-1, // when using views and not Search API pages
  form#search-api-page-block-form {
    position: relative;
    width: 50%;
    .form-item--id-search-api-fulltext,
    .form-item--search,
    .form-item--search-api-autocomplete {
      width: 100%;
      display: inline-block;
      input {
        width: 100%;
        padding: 5px $gutter*2 5px 5px;
      }
    }
    .form-actions {
      display: inline-block;
      position: absolute;
      top: 2px;
      right: 5px;
      input.form-submit {
        position: absolute;
        z-index: 10;
        cursor: pointer;
        display: block;
        box-sizing: border-box;
        top: 0;
        bottom: auto;
        left: auto;
        right: 0;
        border: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-indent: -9999px;
        background-color: transparent;
        outline: none !important;
        line-height: $mobile-search-trigger;
        height: $mobile-search-trigger;
        width: $mobile-search-trigger;
      }
      &:before {
        z-index:0;
        @extend %search-icon;
        //outline: none !important;
        position: absolute;
        display: block;
        box-sizing: border-box;
        top: 0;
        bottom: auto;
        left: auto;
        right: 0;
        overflow: visible;
        line-height: $mobile-search-trigger;
        height: $mobile-search-trigger;
        width: $mobile-search-trigger;
      }
    }
  }
  form#views-exposed-form-pantheon-solr-content-search-page-1 {
    .form-item {
      margin-bottom: 0;
      width: 100%;
    }
    .form-actions {
      &:before {
        top: 20px;
      }
    }
  }
}


// Mobile search
li.mobile-search {
  .block-inner { // class applied via jQuery if toggleClass is used
    position: relative;
    padding: $gutter;
    form {
      margin-bottom: 0;
    }
    .form-item--id-search-api-fulltext,
    .form-item--search,
    .form-item--search-api-autocomplete {
      width: 100%;
      display: inline-block;
      input {
        width: 100%;
        padding: 5px $gutter*2 5px 5px;
      }
    }
    .form-item__label {
      display: none;
    }
    .form-actions {
      display: inline-block;
      position: absolute;
      top: 23px;
      right: 25px;
      input.form-submit {
        position: absolute;
        z-index: 10;
        cursor: pointer;
        display: block;
        box-sizing: border-box;
        top: 0;
        bottom: auto;
        left: auto;
        right: 0;
        border: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-indent: -9999px;
        background-color: transparent;
        outline: none !important;
        line-height: $mobile-search-trigger;
        height: $mobile-search-trigger;
        width: $mobile-search-trigger;
      }
      &:before {
        z-index:0;
        @extend %search-icon;
        //outline: none !important;
        position: absolute;
        display: block;
        box-sizing: border-box;
        top: 0;
        bottom: auto;
        left: auto;
        right: 0;
        overflow: visible;
        line-height: $mobile-search-trigger;
        height: $mobile-search-trigger;
        width: $mobile-search-trigger;
      }
    }
    @media #{media($main-nav)} {
      display: none;
    }
  }
}

// Core Search page with results and advanced search
// Search page with results and advanced search
 .path-search,
 .section-search {
   .form-item--search {
       label {
         display: block;
       }
     input.form-search {
       margin-bottom: .5em; // for when the input element and search button are stacked
     }
    }
   #edit-help-link {
     display: none;
    }
   #edit-advanced {
     summary {
       &:before {
         content:"";
         background: none;
         width: 0;
         height: 0;
       }
     }
     fieldset {
       outline: none;
       > .fieldset__legend {
         display: inline-block;
         color: $base-font-color;
         @include font-weight(normal);
         @include font-size($h3-font-size);
         padding-top: $vertical-spacing;
       }
       > .fieldset__content {
         .criterion {
           .fieldset__legend {
             padding: $vertical-spacing/4 0;
           }
           .fieldset__legend-text {
             color: $base-font-color;
             font-family: $base-font-family;
             @include font-weight(bold);
             @include font-size(14px);
             margin: 0;
           }
         }
       }
     }
   }
   .search-advanced {
     margin-top: $gutter;
     max-width: $content-width;
     .form-item--textfield {
       max-width: $body-width;
     }
     .action {
       margin-top: $vertical-spacing;
       padding-bottom: $gutter;
       border-bottom: none;
     }
   }

   .search-results {
     list-style: none;
     margin: 0;
     padding: 0;
     max-width: $content-width;
     li {
       padding: $gutter*2 0;
       margin: 0;
       & + li {
         //border-top: 1px solid $base-border-color;
       }
       .search-result {
         .content-type {
           @extend %label-caps;
         }
         h3 {
           margin: 0;
         }
         .snippet {
           &:after {
             content: " ";
           }
        }
      }
    }
  }
}

// Search API Search
.view-pantheon-solr-content-search {
  .view-header {
    @include font-size(20px);
    @include font-weight(semibold);
    margin-bottom: $gutter*2;
  }
}

.results-total {
  @include font-size(20px);
  @include font-weight(semibold);
  margin-top: $gutter;
}

// Are these useful and active styles?
form.search-api-page-block-form {
  .form-item--search,
  .form-item--search-api-autocomplete {
    float: left;
    display: inline-block;
    width: 50%;
    // If placeholder text has been set up (See: <themename>.theme)
    input.form-search,
    input.form-autocomplete {
      width: 100%;
      background: $white;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $light-font-color;
        opacity: 1; /* Firefox */
        @include font-size(14px);
        font-style: italic;
        @include font-weight(normal);
        padding-left: $gutter/2;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $light-font-color;
        @include font-size(14px);
        font-style: italic;
        @include font-weight(normal);
        padding-left: $gutter/2;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $light-font-color;
        @include font-size(14px);
        font-style: italic;
        @include font-weight(normal);
        padding-left: $gutter/2;
      }
    }
  }
  .form-actions {
    display: inline-block;
    .button {
      border: none !important;
    }
  }
}

// If Search API Autocomplete module is being used
.search-api-autocomplete-suggestion {
  padding: 3px 5px;
  position: relative;
  .autocomplete-suggestion-note {
    font-size: .8 * $base-font-size;
  }
  .autocomplete-suggestion-user-input {
    @include font-weight(bold);
  }
  .autocomplete-suggestion-results-count {
    position: absolute;
    right: 0.2em;
  }
}

.search-api-autocomplete-search {
  z-index: 499;
  border: 1px solid $primary-color !important;
  .ui-menu-item-wrapper {
    border: 0;
    color: $base-font-color;
    margin: 0;
    padding: 0;
  }
  .ui-menu-item-wrapper.ui-state-active {
    .search-api-autocomplete-suggestion {
      color: $white;
      background: $primary-color;
    }
  }
  .ui-menu-item {
    list-style-image: none;
    a {
      text-decoration: none;
    }
    &:hover {
      background:$white;
    }
  }
}

