// ==========================================================================
//   SHARE THIS
// ==========================================================================


.field--name-dynamic-block-fieldnode-share-this {
  border-top: 1px solid $base-border-color;
  padding-top: $gutter;
  max-width: $body-width;
  .field__label {
    padding-right: $gutter;
    @extend %label-caps;
    @include font-weight(semibold);
  }
}

// styles for small chicklets
.sharethis-wrapper {
  > span {
    margin-right: $gutter/4;
  }
  .stButton {
    margin-right: 0;
    margin-left: $gutter/2;
    .chicklets {
      background-image: none;
      overflow: visible !important;
      display: inline-block;
      padding-left: 0;
      padding-right: 0;
      &.sharethis {
        @include dl-icon($icon-social-share, 16px, $base-font-color, $icomoon, 16px, 16px, $action-color);
      }
      &.email {
        @include dl-icon($icon-email, 18px, $base-font-color, $icomoon, 18px, 18px, $action-color);
      }
      &.print {
        @include dl-icon($icon-print, 18px, $base-font-color, $icomoon, 18px, 18px, $action-color);
      }
    }
  }
}