// ==========================================================================
//   SYSTEM BRANDING BLOCK
// ==========================================================================

.branding-wrapper {
  float: left;

}

.logo { // Site logo
  display: block;
  position: $logo-position-mobile;
  float: $logo-float-mobile;
  clear: both;
  width: $logo-mx-small;
  max-width: $logo-mx-small;
  outline-offset: 2px; // to improve keyboard accessibility
  img {
    width:100%;// Required to make height of SVGs responsive in IE.
  }
  @media #{media(40)} {
    position: absolute;
    top: $gutter/4;
    //margin-top: $gutter;
  }
  @media #{media($main-nav)} {
    //width: $logo-mx-medium;
    //max-width: $logo-mx-medium;
  }
  @media #{media(67)} {
    //position: relative;
    margin-top: $gutter;

    width: $logo-mx-large;
    max-width: $logo-mx-large;
  }
}

.site-branding-text {
  display: none;
  .site-branding-name {}
  .site-branding-slogan {}
}

