// ==========================================================================
//   BLOCKS
// ==========================================================================

.block {
  @include clearfix;
}

.region-content,
.sidebar {
  .block {
    & + .block {
      margin-top: $gutter*2;
    }
  }
}

.region-post-content { // a bit more gutter for blocks in this region
  .block {
    & + .block {
      margin-top: $gutter*3;
    }
    .field__label > h2, // field labels visually acting like block titles
    .block__title {
      @include font-size($h1-font-size-mobile);
      margin-bottom: $gutter*2;
      @media #{media(40)} {
        margin-bottom: $gutter*3;
      }
      @media #{media($main-nav)} {
        @include font-size($h1-font-size);
      }
    }
  }
}

.sidebar {
  .block {
    h2.block__title {
      color: $base-font-color;
      @include font-size($sidebar-block-title);
    }
    .field__label {
      @include font-weight(bold);
      @include font-size($base-font-size);
      margin-bottom: $gutter;
    }
  }
}

// Block Select Styles

.block {
  &.callout { // "Callout" in the Block UI
    background: $callout-background-color;
    padding: $gutter;
    h2.block__title {
    }
    a:not(.button-link):not(.button-link-outline):not(.button-link-outline-mono) {
      color: $dark-teal;
      &:hover {
        color: $link-color-hover;
      }
    }
  }
}

.block {
  &.outline { // "Outline" in the Block UI
    border: 1px solid $base-border-color;
    padding: $gutter;
    h2.block__title {
    }
  }
}

.region-banner {
  .block {
    &.callout { // "Callout" in the Block UI
      background: $callout-background-color;
      padding: $gutter;
      text-align: center;
      .block__wrapper {
        @include center-block;
        max-width: $body-width;
      }
      .block__content {
        padding: $gutter*2 $gutter $gutter;
        @include font-size(20px);
        @include font-weight(medium);
      }
    }
  }
}

// Block classes added in the Block UI

.region-post-content {
  .block {
    &.page-width { // class applied in Block UI
      .node--view-mode-post-content,
      .block__wrapper {
        @include center-block;
        max-width: $page-width;
        padding: 0 $gutter;
        @media #{media(40)} {
          padding: 0 $gutter*2;
        }
      }
    }
  }
}

.region-post-content {
  .block {
    &.page-width.outline { // classes applied in Block UI
      border: none;
      @include center-block;
      max-width: $page-width;
      padding: 0 $gutter;
      @media #{media(40)} {
        padding: 0 $gutter*2;
      }
      .block__wrapper {
        border: 1px solid $base-border-color;
        padding: $gutter;
        .block__title {
          text-align: left;
          @include font-size($h2-font-size-mobile);
          margin-bottom: rem($vertical-spacing);
          @media #{media(40)} {
            margin-bottom: rem($vertical-spacing);
          }
          @media #{media($main-nav)} {
            @include font-size($h2-font-size);
          }
        }
      }
    }
  }
}

.node-type-program,
.node-type-grant {
  .region-post-content {
    .block {
      &.page-width {
        .block__title {
          text-align: left;
        }
      }
    }
  }
}

.region-post-content {
  .block {
    &.stay-connected-block {
      background: $primary-color;
      background-image: url(/themes/custom/nefa/static/img/pattern-teal.png);
      padding: $gutter*3 $gutter*2;
      .block__wrapper {
        background: $white;
        padding: $gutter*3 $gutter $gutter*2 $gutter;
        max-width: 760px;
        .block__title {
          text-align: center;
          text-transform: uppercase;
          @include font-weight(bold);
          margin-bottom: rem($vertical-spacing/2);
          @include font-size($h2-font-size-mobile);
          @media #{media($main-nav)} {
            @include font-size($h2-font-size);
          }
        }
        .block__content {
          p {
            text-align: center;
          }
        }
      }
      @media #{media(40)} {
        padding: $gutter*4 $gutter;
        .block__wrapper {
          padding: $gutter*2 $gutter;

        }
      }
    }
  }
}

// Upcoming Grant Deadlines
.region-post-content {
  .block-views-blockupcomming-grants-block-1 {
    .block__content {
      @media #{media(40)} {
        margin-left: -$gutter*1.75;
        margin-right: -$gutter*1.75;
      }
    }
    .block__title {
      margin-bottom: $gutter;
    }
    .view-header {
      text-align: center;
      max-width: 760px;
      margin: 0 auto $gutter*2 auto;
    }
    .view-footer {
      margin-left: $gutter; // matches padding of slick
      margin-top: $gutter;
      @media #{media(40)} {
        margin-left: $gutter*1.75; // matches padding of slick
        margin-top: $gutter*1.75;
      }
    }
  }
  .block-views-blockupcoming-news-block-1 {
    .block__content {
      @media #{media(40)} {
        margin-left: -$gutter*2;
        margin-right: -$gutter*2;
      }
      .view-footer {
        margin-top: $gutter;
        @media #{media(40)} {
          margin-left: $gutter*2;
          margin-top: -($gutter);
          margin-bottom: $gutter;
        }
      }
    }
  }
}

#block-homepagebannertabs {
  @media #{media(40)} {
    position: relative;
    top: -($desktop-header-height + 10);
    margin-bottom: -($desktop-header-height + 10);
  }
}

#block-featuredvideoonhomepage {
  .group-right {
    h1, h2 {
      @include font-size($h1-font-size);
      line-height: 1.2em;
    }
  }
  @media #{media(50)} {
    .group-right {
      h1, h2 {
        @include font-size($h2-font-size);
        line-height: 1.2em;
      }
      .field--name-field-description {
        display: none;
      }
    }
  }
  @media #{media(60)} {
    .group-right {
      padding: $gutter*2 $gutter $gutter $gutter*2;
    }
  }
  @media #{media(70)} {
    .group-right {
      padding: $gutter*2 $gutter $gutter $gutter*3;
      h1, h2 {
        @include font-size($h1-font-size);
        line-height: 1.2em;
      }
      .field--name-field-description {
        display: block;
      }
    }
  }
  @media #{media(80)} {
    .group-right {
      //padding: $gutter*2 $gutter $gutter $gutter*3;
    }
  }
}

#block-nefa-invests-in-artists-communities-block-1 {
  h2.block__title {
    @include font-weight(bold);
    @include font-size($h2-font-size-mobile);
    @media #{media($main-nav)} {
      @include font-size($h2-font-size);
    }
  }
}

/* Privacy Policy Popup */
div#sliding-popup {
  background: #ebeae9;
  border-top: 2px solid #ffffff;
  //background: #d2d1d5;
  padding-top: 20px;
  padding-bottom: 25px;
}
#sliding-popup .popup-content {
  max-width: 935px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  width: auto;
}
#popup-text {
  max-width: 80%;
}
#popup-text p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
#popup-text p a {
  //color: #01828e;
  color: #225B66;
}
.eu-cookie-compliance-more-button {
  display: none;
}
#popup-buttons {
  margin-bottom: 0;
}
.decline-button {
  display: none;
}
.agree-button {
  background: #fff;
  border: 2px solid #ca7b23;
  padding: 13px 30px;
  margin: 0;
  color: #01828e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .875rem;
}
.agree-button::before {
  content: "I ";
}

@media only screen and (max-width : 600px) {
  #popup-text {
    display: block;
    overflow: hidden;
    max-width: 100%;
    float: none;
  }
  #popup-buttons {
    display: block;
    float: none;
    margin-top: 10px;
    overflow: hidden;
    clear: both;
  }
  .agree-button {
    float: left;
  }
}
