// ==========================================================================
//   FIELDS
// ==========================================================================

.field {
  @include clearfix;
}

.field__label {
  @extend %label-caps;
  &.is-inline {
    display: inline-block;
    clear: both;
    float: left;
    & + .field__item {
      display: inline-block;
      float: left;
    }
  }
}

.field--name-field-project-title,
.field--name-field-publication-date,
.field--name-field-byline,
.field--name-field-title, // professional title in bio nodes
.field--name-bundle-fieldnode,
.field--name-field-event-date,
.field--name-dynamic-token-fieldnode-start-time-only {
  @extend %label;
}

.field--name-field-project-title {
 text-transform: none;
}

.field--name-field-related-view {
  .field__item {
    width: 100%;
  }
}

.field--name-field-featured-video {
  .paragraph--type-featured-video {
    .field--name-field-headline {
      h2 {
        @include font-size(24px);
      }
    }
  }
}

