// ==========================================================================
//   NODES
//   1. All nodes, regardless off view mode
//   2. All view modes, regardless of content type
//   3. Import the partials for individual content types
// ==========================================================================

%teaser-titles {
  @include font-size($teaser-title-mobile);
  line-height: 1.1em;
  //text-transform: capitalize;
  a[href] {
    font-weight: inherit;
    &:hover {
      font-weight: inherit;
    }
  }
  @media #{media(70)} {
    @include font-size($teaser-title);
  }
}


//  1. All nodes, regardless off view mode
//  ==========================================================================

.node {
  .field--name-body {
    clear: both;
    max-width: $body-width;
  }
  &.node--unpublished {
    background-color: #fff4f4;
  }
  &.ds-2col-fluid {
    .group-right {
      .field {
        & + .field:not(.field--name-node-title) {
          margin-top: $vertical-spacing/2;
        }
      }
    }
  }
}

.node-preview-container {
  position: relative;
  a.node-preview-backlink {
    display: inline-block;
    padding: 0.2em 1em;
    text-decoration: none;
    color: $tab-text;
    background: $tab-background;
    @include font-weight(normal);
    @include border-radius(4px);
    &.is-active {
      background-color: $tab-background;
      color: $tab-text;
    }
    &:hover,
    &:focus {
      background-color: $tab-background-active;
      color: $tab-text;
    }
  }
  .form-item {
    display: inline-block;
    max-width: $body-width;
    margin-left: $gutter;
    .custom-select {
      select {
        width: auto;
        background: $white;
      }
    }
  }
}


//  2. All view modes, regardless of content type
//    a. Full
//    b. Teaser
//    c. Teaser-small
//    d. Card
//    e. Banner
//    f. Featured
//    g. Sidebar
//    h. Post content
//    i. Search result
//  ==========================================================================

// Full
.node--view-mode-full {
  > .field:not(.empty-body-field) + .field:not(.empty-view-field) {
    margin-top: $gutter*2;
  }
  > .field:not(.empty-body-field) + .field--name-field-related-view {
    > .field__item {
      float:left;
    }
  }
  .field--name-body {
    max-width: $body-width;
    @include clearfix;
  }
}

// Teaser
.node--view-mode-teaser {
  @include responsive-display-2col($width: 30%, $gutter: 2.5%, $image-container: left);
  .field--name-publication-title-link, // custom DS plugin taking the place of .field--name-node-title
  .field--name-node-title {
    h2, h3 {
      @extend %teaser-titles;
    }
  }
  .field--name-body {
    @include font-size($teaser-body);
  }
  &.ds-1col {
    .field + .field {
      margin-top: $gutter/2;
    }
    .field--name-field-main-image {
      float: left;
      width: 40%;
      padding-right: $gutter;
      & + .field {
        width: 60%;
        float: left;
        clear: none;
      }
      @media #{media(30)} {
        width: 25%;
        & + .field {
          width: 75%;
        }
      }
      @media #{media(40)} {
        width: 30%;
        & + .field {
          width: 70%;
        }
      }
      @media #{media(50)} {
        width: 40%;
        & + .field {
          width: 60%;
        }
      }
    }
  }
}

// Teaser-small
.node--view-mode-teaser-small {
  .field--name-node-title {
    h2, h3 {
      @extend %teaser-titles;
    }
  }
  .field--name-body {
    @include font-size($teaser-body);
  }
}


// Card
.node--view-mode-card {
  .field--name-node-title {
    margin-top: $gutter/2;
    h2, h3 {
      @extend %teaser-titles;
    }
  }
  .field--name-body {
    @include font-size($teaser-body);
  }
}

// Banner
.node--view-mode-banner {
  @media #{media(40)} {
    @include responsive-display-banner($width: 35%, $gutter: 2.5%);
  }
  .row-background {
    @include clearfix;
    background: $banner-background-color;
    .row-width {
      @include center-block;
      max-width: $page-width;
      @media #{media(40)} {
        padding: 0 $gutter*2;
      }
    }
  }
  .group-text {
    color: $white;
    padding: $gutter;
    @media #{media(40)} {
      padding: $gutter*2 0;
    }
  }
  .group-caption {
    clear: both;
    background: $white;
    .caption-wrapper {
      @include center-block;
      max-width: $page-width;
      padding: 0 $gutter;
      .field--name-small-image-caption {
        color: $light-charcoal;
        @include font-size(12px);
        padding: $gutter/2 0;
      }
      @media #{media(40)} {
        padding: 0 $gutter*2;
        .field--name-small-image-caption {
          text-align: right;
        }
      }
      @media #{media(80)} {
        max-width: none;
      }
    }
  }
  // Full width image banners have an entirely different look
  &.full-width-image {
    .group-image-full {
      position: relative;
      z-index: 0;
      img {
        max-width: none;
        width: 100%;
      }
    }
    .row-background {
      position: relative;
      z-index: 1;
      max-width: 800px;
      margin: 0 auto;
      background: rgba(1, 130, 142, 0.9);
      text-align: center;
      .field--name-dynamic-block-fieldnode-breadcrumbs,
      .field--name-banner-summary {
        display: none;
      }
      @media #{media(40)} {
        margin-top: -85px;
      }
    }
    @media #{media($main-nav)} {
      position: relative;
      top: -($desktop-header-height + 10);
      margin-bottom: -($desktop-header-height + 10);
    }
  }
  // Small banner images have their own look
  &.small-image {
    .background-design {
      display: none;
    }
    @media #{media(40)} {
      @include responsive-display-banner($width: 45%, $gutter: 2.5%);
      .row-width {
        display: flex;
        max-width: none; // extends full width with jQuery used to set left margin
        padding: 0;
        .group-text {
          position: relative;
          padding-left: $gutter*2;
          z-index: 1;
        }
        .group-image {
          display: flex;
          .background-design {
            display: block;
            position: relative;
            overflow: hidden;
            width: 235px;
            margin-left: -235px;
            float: left;
            -webkit-transform-origin: bottom right;
            -ms-transform-origin: bottom right;
            transform-origin: bottom right;
            -webkit-transform: skew(-30.15deg);
            -ms-transform: skew(-30.15deg);
            transform: skew(-30.15deg);
            &:before {
              content: "";
              position: absolute;
              width: 200%;
              height: 200%;
              top: -50%;
              left: 50px;
              z-index: -1;
              background-image: url(/themes/custom/nefa/static/img/pattern-teal.png);
              -webkit-transform-origin: bottom right;
              -ms-transform-origin: bottom right;
              transform-origin: bottom right;
              -webkit-transform: skew(30.15deg);
              -ms-transform: skew(30.15deg);
              transform: skew(30.15deg);
            }
          }
          .field--name-small-image {
            float: left;
            width: calc(100% - 150px);
            opacity: 0;
          }
          order: 2; // this "floats" the image to the right
        }
      }
    }
    @media #{media(50)} {
      @include responsive-display-banner($width: 35%, $gutter: 2.5%);
      .row-width {
        .group-image {
          .background-design {
            width: 300px;
            margin-left: -300px;
            &:before {
              left: 0;
            }
          }
        }
      }
    }
    @media #{media(70)} {
      .row-width {
        .group-image {
          .background-design {
            width: 400px;
            margin-left: -400px;
          }
        }
        .group-text {
          .field {
            max-width: 800px;
            //padding-right: 10%;
          }
        }
      }
    }
    @media #{media(80)} {
      .row-width {
        .group-image {
          .background-design {
            width: 600px;
            margin-left: -600px;
          }
        }
        .group-text {
          .field {
            max-width: 800px;
            //padding-right: 15%;
          }
        }
      }
    }
  }

  // No image banners have their own look
  // Small banner images have their own look
  &.no-image {
    @media #{media(40)} {
      @include responsive-display-banner($width: 45%, $gutter: 2.5%);
      .row-width {
        display: flex;
        max-width: none; // extends full width with jQuery used to set left margin
        padding: 0;
        .group-text {
          position: relative;
          padding-left: $gutter*2;
          z-index: 1;
        }
        .group-no-image {
          display: flex;
          .background-design {
            display: block;
            position: relative;
            overflow: hidden;
            width: 235px;
            margin-left: -235px;
            float: left;
            -webkit-transform-origin: bottom right;
            -ms-transform-origin: bottom right;
            transform-origin: bottom right;
            -webkit-transform: skew(-30.15deg);
            -ms-transform: skew(-30.15deg);
            transform: skew(-30.15deg);
            &:before {
              content: "";
              position: absolute;
              width: 200%;
              height: 200%;
              top: -50%;
              left: 50px;
              z-index: -1;
              background-image: url(/themes/custom/nefa/static/img/pattern-teal.png);
              -webkit-transform-origin: bottom right;
              -ms-transform-origin: bottom right;
              transform-origin: bottom right;
              -webkit-transform: skew(30.15deg);
              -ms-transform: skew(30.15deg);
              transform: skew(30.15deg);
            }
          }
          order: 2; // this "floats" the image to the right
          background: $light-teal;
        }
      }
    }
    @media #{media(50)} {
      @include responsive-display-banner($width: 35%, $gutter: 2.5%);
    }
    @media #{media(70)} {
      .row-width {
        .group-text {
          .field {
            padding-right: 10%;
          }
        }
      }
    }
    @media #{media(80)} {
      .row-width {
        .group-text {
          .field {
            padding-right: 15%;
          }
        }
      }
    }
  }
}

// Featured
.node--view-mode-featured {}

// Sidebar
.node--view-mode-sidebar {}


// Post content
.node--view-mode-post-content {}


// Search result
.node--view-mode-search-result {
  @include responsive-display-2col($width: 25%, $gutter: 2.5%, $image-container: left);
  .field--name-publication-title-link,
  .field--name-node-title {
    h2, h3 {
      @extend %teaser-titles;
    }
    margin-top: $gutter/2;
  }
  .field--name-body {
    @include font-size($teaser-body);
  }
  @media #{media(40)} {
    @include responsive-display-2col($width: 15%, $gutter: 2.5%, $image-container: left);
  }
  & + .node--view-mode-search-result {
    margin-top: $gutter*2;
    @media #{media(40)} {
      margin-top: $gutter*3;
    }
  }
}

//  3. Import the partials of individual content types
//  ==========================================================================

@import "content-types/page";
@import "content-types/creative-economy-initiative";
@import "content-types/event";
@import "content-types/grant";
@import "content-types/grant-recipient";
@import "content-types/news";
@import "content-types/news-author";
@import "content-types/program";
@import "content-types/publication";
