// ==========================================================================
//   VIEWS
// ==========================================================================


.view-content {
  clear: both;
  .views-row {
    margin-bottom: $gutter*2;
  }
  .views-row.slick-slide {
    margin-bottom: 0;
  }
}

// Footer
.view-footer {
  clear: both;
}

// Pager
.view {
  .pager {
    clear: both;
    float: left;
    width: 100%;
    margin-top: $gutter;
  }
}

// Draggable views
.view {
  // hides the row weight button toggle

  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  .draggable {
    .handle {
      width: 24px;
      height: 24px;
    }
  }
}

.solr-site-search {
  .views-row {
    margin-bottom: $gutter*2;
    @media #{media(60)} {
      margin-bottom: $gutter*4;
    }
  }
}

// Active filters (created by jQuery
.filtered-output {
  margin-bottom: $gutter*2;
  @include font-size(14px);
}

.filtered-by-label {
  text-transform: uppercase;
  @include font-size(14px);
  @include font-weight(semibold);
}

// Better Exposed Filters
.view:not(.solr-site-search) .bef-exposed-form,
.region-pre-content .bef-exposed-form.block:not(.block-views-exposed-filter-blockpantheon-solr-content-search-page-1) {
  float: right;
  .form--inline {
    float: left;
    > .refine,
    > .form-item,
    > .fieldset,
    > .bef-sortby {
      position: relative;
      display: inline-block;
      float: left;
      margin-right: $gutter/2;
      margin-bottom: $gutter;
      &:last-child {
        margin-right: 0;
      }
    }
    .refine {
      text-transform: uppercase;
      @include font-size(14px);
      @include font-weight(semibold);
      line-height: 38px;
      padding-right: $gutter/2;
    }
    > .form-actions {
      display: inline-block;
      float: left;
      margin-bottom: $gutter;
      input.button:not(.js-hide) {
        //margin-left: $gutter/2;
      }
    }
    > fieldset.form-item--id-field-ccx-award-winner-value,
    > fieldset.form-item--id-field_application_now_open_value,
    > .form-item--id-field-touring-support-available-value,
    > fieldset.form-item--id-field_touring_availability_value {
      display: inline-block;
      max-width: 220px;
      height: 35px;
      margin-bottom: $gutter;
      margin-top: $gutter/2;
    }
    .form-item {
      input.form-text,
      input[type="text"],
      input[type="search"] {
        height: 37px; // 35 plus 2 for border to visually match dropdown titles
        line-height: 37px;
        @include font-size(14px);
        padding: 0 $gutter/2;
      }
    }
    .form-actions {
      .submit-button {
        display: inline-block;
      }
      .submit-button:not(.reset-button) {
        border: 1px solid $secondary-color;
      }
      input[type='submit'] {
        &.button { // to match the filter dropdown headers
          //@include font-size(14px);
          //color: $primary-color;
          min-height: 35px;
          line-height: 35px;
          padding-top: 0;
          padding-bottom: 0;
          //border-width: 1px;
        }
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          //color: $secondary-color !important;
          //background: $white;
          //border: 1px solid $secondary-color;
        }
        //&#edit-reset {
        //  @include font-size(14px);
        //  color: $primary-color;
        //  min-height: 35px;
        //  line-height: 35px;
        //  border: 0;
        //  margin-left: 0;
        //  text-decoration: underline;
        //  text-transform: capitalize;
        //  @include font-weight(normal);
        //  padding: 0 $gutter/4;
        //  &:hover,
        //  &:focus {
        //    color: $secondary-color !important;
        //  }
        //}
      }
      .submit-button.reset-button {
        input[type='submit'] {
          background-color: transparent;
          border: 0;
          @include font-size(14px);
          color: $primary-color;
          min-height: 35px;
          line-height: 35px;
          border: 0;
          margin-left: 0;
          text-decoration: underline;
          text-transform: capitalize;
          @include font-weight(normal);
          padding: 0 $gutter/4;
          &:hover,
          &:focus {
            color: $secondary-color !important;
          }
        }
      }
    }
    &:before {
      display: block;
      content: "Refine";
      text-transform: uppercase;
      @include font-size(14px);
      @include font-weight(semibold);
      line-height: 38px;
      padding-right: $gutter/2;
    }
    @media #{media(50)} {
      float: right;
      &:before {
        float: left;
        display: inline-block;
      }
    }
  }
  width: 100%;
  //margin-bottom: $gutter*2; // not needed when they are exposed in a block
}

// Two column grids. Class needs to be applied on the View
.two-col-grid {

  .view-content {
    display: flex;
    flex-wrap: wrap;
    @media #{media($sidebar)} {
      margin-left: -($gutter*2);
      margin-right: -($gutter*2);
    }
  }

  .views-row {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: $gutter*2;
    @media #{media(40)} {
      float: left;
      width: 50%;
      padding: 0 $gutter*1.75 $gutter $gutter*1.75;
      &:nth-of-type(2n+1) { // First item (1st in row of 2)
        clear: left;
        border-right: 1px solid $base-border-color;
      }
      &.views-row-last {
        border: none;
      }
    }
    @media #{media($sidebar)} {
      margin-bottom: $gutter*4;
    }
  }
}

// Three column grids. Class needs to be applied on the View
.three-col-grid {

  .view-header {
    float: left;
    width: 100%;
    margin: $gutter 0;
    .whats-happening {
      text-align: center;
      @include font-size($h1-font-size-mobile);
      @media #{media($main-nav)} {
        @include font-size($h1-font-size);
      }
    }
  }
  .view-content {
    display: flex;
    flex-wrap: wrap;
    @media #{media(40)} {
      margin-left: -($gutter*2);
      margin-right: -($gutter*2);
    }
  }
  .views-row {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: $gutter*2;
    @media #{media(40)} {
      float: left;
      width: 50%;
      padding: 0 $gutter*1.75 $gutter $gutter*1.75;
      &:nth-of-type(2n+1) { // First item (1st in row of 2)
        clear: left;
        border-right: 1px solid $base-border-color;
      }
      &.views-row-last {
        border: none;
      }
    }
    @media #{media(63)} {
      float: left;
      width: calc((100%)/3);
      margin-bottom: $gutter*4;
      padding: 0 $gutter*1.75 $gutter $gutter*1.75;
      &:nth-of-type(2n+1) {
        clear: none; // reset from previous breakpoint
        border-right: none;
      }
      &:nth-of-type(3n+1) { // First item (1st in row of 3)
        clear: left;
        border-right: 1px solid $base-border-color;
      }
      &:nth-of-type(3n+2) { // Middle item (2nd in row of 3)
        border-right: 1px solid $base-border-color;
      }
      &.views-row-last {
        border: none;
      }
    }
  }
  &.view-grants {
    .view-content {
      @media #{media(30)} {
        margin-left: -($gutter*2);
        margin-right: -($gutter*2);
      }
      .views-row {
        @media #{media(30)} {
          float: left;
          width: 50%;
          padding: 0 $gutter*1.75 $gutter $gutter*1.75;
          &:nth-of-type(2n+1) { // First item (1st in row of 2)
            clear: left;
            border-right: 1px solid $base-border-color;
          }
          &.views-row-last {
            border: none;
          }
          display: flex;
          flex-direction: column;
          .node--view-mode-teaser {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
          }
          .group-bottom {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            .field--name-body {
              flex-grow: 1;
            }
          }
        }
        @media #{media(40)} {
          float: left;
          width: 50%;
          padding: 0 $gutter*1.75 $gutter $gutter*1.75;
          &:nth-of-type(2n+1) { // First item (1st in row of 2)
            clear: left;
            border-right: 1px solid $base-border-color;
          }
          &.views-row-last {
            border: none;
          }
        }
        @media #{media(63)} {
          float: left;
          width: calc((100%)/3);
          margin-bottom: $gutter*4;
          padding: 0 $gutter*1.75 $gutter $gutter*1.75;
          &:nth-of-type(2n+1) {
            clear: none; // reset from previous breakpoint
            border-right: none;
          }
          &:nth-of-type(3n+1) { // First item (1st in row of 3)
            clear: left;
            border-right: 1px solid $base-border-color;
          }
          &:nth-of-type(3n+2) { // Middle item (2nd in row of 3)
            border-right: 1px solid $base-border-color;
          }
          &.views-row-last {
            border: none;
          }
        }
      }
    }
  }
  &.view-programs {
    .view-content {
      @media #{media(30)} {
        margin-left: -($gutter*2);
        margin-right: -($gutter*2);
      }
      .views-row {
        @media #{media(30)} {
          float: left;
          width: 50%;
          padding: 0 $gutter*1.75 $gutter $gutter*1.75;
          &:nth-of-type(2n+1) { // First item (1st in row of 2)
            clear: left;
            border-right: 1px solid $base-border-color;
          }
          &.views-row-last {
            border: none;
          }
        }
        @media #{media(40)} {
          float: left;
          width: 50%;
          padding: 0 $gutter*1.75 $gutter $gutter*1.75;
          &:nth-of-type(2n+1) { // First item (1st in row of 2)
            clear: left;
            border-right: 1px solid $base-border-color;
          }
          &.views-row-last {
            border: none;
          }
        }
        @media #{media(63)} {
          float: left;
          width: calc((100%)/3);
          margin-bottom: $gutter*4;
          padding: 0 $gutter*1.75 $gutter $gutter*1.75;
          &:nth-of-type(2n+1) {
            clear: none; // reset from previous breakpoint
            border-right: none;
          }
          &:nth-of-type(3n+1) { // First item (1st in row of 3)
            clear: left;
            border-right: 1px solid $base-border-color;
          }
          &:nth-of-type(3n+2) { // Middle item (2nd in row of 3)
            border-right: 1px solid $base-border-color;
          }
          &.views-row-last {
            border: none;
          }
        }
      }
    }
  }

  // When viewer chooses to show all items in a view via an exposed pager, provide a more compact layout
  .items-per-page-all & {
    .views-row {
      margin-bottom: $gutter;

      h2 {
        font-size: 1.1rem;
      }

      .field--name-field-main-image {
        max-width: 75px;
      }
    }
  }
}

// Three column grids on homepage. Classes are added on the View
// They need to line up with the Slick carousel above so they go their own way a bit
.three-col-grid.homepage {

  .view-content {
    @media #{media($sidebar)} {
      //margin-left: 0;
      //margin-right: 0;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

}

// Four column grids. Class needs to be applied on the View
.three-col-grid-standard { // this is used for embedded views where there is often a sidebar on the page
  .views-row {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: $gutter*2;
    @media #{media(30)} {
      float: left;
      width: calc((100% - 20px)/2); // account for 20px total horizontal gutter between rows
      margin-bottom: $gutter*2;
      &:nth-of-type(2n+1) { // First item (1st in row of 2)
        clear: left;
        margin: 0 $gutter/2 $gutter*2 0;
      }
      &:nth-of-type(2n+2) { // Middle item (2nd in row of 2)
        margin: 0 0 $gutter*2 $gutter/2;
      }
    }
    @media #{media(60)} {
      float: left;
      width: calc((100% - 40px)/3); // account for 40px total horizontal gutter between rows
      margin-bottom: $gutter*2;
      &:nth-of-type(2n+1) {
        clear: none; // reset from previous breakpoint
      }
      &:nth-of-type(3n+1) { // First item (1st in row of 3)
        clear: left;
        margin: 0 $gutter/2 $gutter*2 0;
      }
      &:nth-of-type(3n+2) { // Middle item (2nd in row of 3)
        margin: 0 $gutter/2 $gutter*2 $gutter/2;
      }
      &:nth-of-type(3n+3) { // Last item (3rd in row of 3)
        margin: 0 0 $gutter*2 $gutter/2;
      }
    }
  }
}

// Four column grids. Class needs to be applied on the View
.four-col-grid {
  .views-row {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: 2em;
    @media #{media(30)} {
      float: left;
      width: calc((100% - 20px)/2); // account for 20px total horizontal gutter between rows
      margin-bottom: $gutter !important;
      &:nth-of-type(2n+1) { // First item (1st in row of 2)
        clear: left;
        margin: 0 $gutter/2 $gutter 0;
      }
      &:nth-of-type(2n+2) { // Middle item (2nd in row of 2)
        margin: 0 0 $gutter $gutter/2;
      }
    }
    @media #{media($sidebar)} {
      float: left;
      width: calc((100% - 40px)/3); // account for 40px total horizontal gutter between rows
      &:nth-of-type(2n+1) {
        clear: none; // reset from previous breakpoint
      }
      &:nth-of-type(3n+1) { // First item (1st in row of 3)
        clear: left;
        margin: 0 $gutter/2 $gutter 0;
      }
      &:nth-of-type(3n+2) { // Middle item (2nd in row of 3)
        margin: 0 $gutter/2 $gutter $gutter/2;
      }
      &:nth-of-type(3n+3) { // Last item (3rd in row of 3)
        margin: 0 0 $gutter $gutter/2;
      }
    }
    @media #{media(70)} {
      float: left;
      width: calc((100% - 60px)/4); // account for 60px total horizontal gutter between rows
      &:nth-of-type(3n+1) {
        clear: none; // reset from previous breakpoint
      }
      &:nth-of-type(4n+1) { // First item (1st in row of 4)
        clear: left;
        margin: 0 $gutter/2 $gutter 0;
      }
      &:nth-of-type(4n+2),
      &:nth-of-type(4n+3) {
        margin: 0 $gutter/2 $gutter $gutter/2;
      }
      &:nth-of-type(4n) { // Last item (4th in row of 4)
        margin: 0 0 $gutter $gutter/2;
      }
    }
  }
  &.people { // class applied in view
    .views-row {
      margin-bottom: $gutter*2;
      @media #{media(30)} {
        margin-bottom: $gutter*2!important;
      }
      @media #{media($sidebar)} {
        margin-bottom: $gutter*2!important;
      }
      @media #{media(70)} {
        margin-bottom: $gutter*3!important;
      }
    }
    .view-footer {
      max-width: $body-width;
      margin-bottom: $gutter;
      p {
        font-style: italic;
      }
    }
  }
}

