// ==========================================================================
//   PATTERNS
//   These style "patterns" can be applied throughout the site on different
//   fields, classes, HTML selectors, etc.
// ==========================================================================

%label {
  @include font-size(16px);
  @include font-weight(normal);
  color: $base-font-color;
  text-transform: capitalize;
}

%label-caps {
  @include font-size(14px);
  @include font-weight(normal);
  color: $base-font-color;
  text-transform: uppercase;
}