$base-font-size: 16px;

// ==========================================================================
//   VARIABLES
//   Global settings for the entire site.
//   1. General
//   2. Typography
//   3. Borders
//   4. Colors
//   5. Tables
//   6. Accordions
//   7. Forms
//   8. Header Elements (mainly size and position of logo & main nav)
//   9. Sidebars (just how wide should they be and when should they start floating?)
//   10.Extras (misc)
// ==========================================================================

//  1. General
//  ==========================================================================

// Convert pixel values to em.
@function em($px, $base: 16px) {
  @return ($px / $base) * 1em;
}

$gutter: 20px; // Used mostly for horizontal padding/margin. Intentionally px based.
$vertical-spacing: $base-font-size; // Used as the default spacing below most items such as paragraphs, lists, etc.
$main-nav: 50; // When the nav switches from mobile to main. Resolves to named breakpoint from _breakpoint.scss.
$page-width: em(1250px); // used for contained layouts
$content-width: em(980px); // used to prevent content from getting too wide
$body-width: em(800px); // used to prevent text from getting too long

//  2. Typography
//  ==========================================================================
$base-font-family: $whitney; // variable defined in _fonts.scss
$heading-font-family: $whitney; // variable defined in _fonts.scss
$monospace-font-family: 'Lucida Console', 'Liberation Mono', 'Courier New', monospace, sans-serif;

// Heading size
$h1-font-size: 38px;
$h1-font-size-mobile: $h1-font-size * .8;
$h2-font-size: 28px;
$h2-font-size-mobile: $h2-font-size * .85;
$h3-font-size: 22px;
$h3-font-size-mobile: $h3-font-size * .9;
$h4-font-size: 18px;
$h5-font-size: 14px;
$h6-font-size: 12px;

// Block heading size
$sidebar-block-title: 24px;

// Teaser titles
$teaser-title: 24px;
$teaser-title-mobile: 22px;
$teaser-title-small: $base-font-size;
$teaser-body: $base-font-size;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.3;

// Letter spacing
$base-letter-spacing: 0;
$heading-letter-spacing: 0;

//  3. Borders
//  ==========================================================================
// Base Border
$base-border-color: $misty;
$base-border: 1px solid $base-border-color;
$base-border-radius: 0;

//  4. Colors
//  ==========================================================================
// Branding Colors
$primary-color: $teal;
$secondary-color: $orange;
$action-color: $teal; // action color re-uses teal because site is very much dominated by two colors(teal and orange)

// Font Colors
$base-font-color: $charcoal;
$light-font-color: $charcoal;
$link-color: $action-color;
$link-color-hover: $secondary-color;
$link-color-visited: $action-color;

// Layout Background Colors
$base-background-color: $white;
$header-background-color: $white;
$banner-background-color: $teal;
$pre-content-background-color: $white;
$main-background-color: $white;
$post-content-background-color: $white;
$footer-background-color: $white;
$callout-background-color: $ice; // used for "callout" block style

// Admin Message Colors
$status-color: $light-green;
$warning-color: $mustard;
$error-color: $tomato;

// Admin Tabs Colors
$tab-background: $action-color;
$tab-background-active: darken($action-color, 5%);
$tab-text: $white;

//  5. Tables
//  ==========================================================================
// All tables
$table-cell-font-size: $base-font-size * .8;
// Responsive data tables when a table header is being used
$dt-table-border-width: 0 0 0 0;
$dt-table-border-style: solid;
$dt-table-border-color: $base-border-color;
$dt-table-cell-border-width: 0 0 1px 0;
$dt-table-cell-border-style: solid;
$dt-table-cell-border-color: $base-border-color;
$dt-th-color: $base-font-color;
$dt-th-background-color: $ice;

//  6. Accordions
//  ==========================================================================
$accordion-header-size: 40px; // width, height, line-height of icon; min-height of title

// The icon
$accordion-icon-font: $icomoon;
$accordion-icon-font-size: 24px;
$accordion-icon-font-size-mobile: 24px;
$accordion-icon-color: $primary-color;
$accordion-icon-background: $white;
$accordion-icon-background-hover: $white;

// The title
$accordion-title-font-size: 22px;
$accordion-title-font-size-mobile: 18px;
$accordion-title-color: $teal;
$accordion-title-background: $white;
$accordion-title-background-hover: $white;
$accordion-title-border-width: 0; // Ex. 1px 1px 0 1px
$accordion-title-border-style: solid;
$accordion-title-border-color: $base-border-color;

// The content area
$accordion-content-padding: 1em 0 0 .5em;
$accordion-content-border-width: 0; // Ex. 0 1px 1px 1px
$accordion-content-border-style: solid;
$accordion-content-border-color: $base-border-color;

//  7. Forms
//  ==========================================================================
$form-item-height: 45px;
$vertical-spacing-forms: 30px; // Used as the default spacing below form elements.

//  8. Header Elements
//  ==========================================================================
$logo-mx-small: 150px;
$logo-mx-medium: 200px;
$logo-mx-large: 200px;
$logo-float-mobile: left;
$logo-float: left;
$logo-position-mobile: relative;
$logo-position: relative;

$nav-height: 50px;
$nav-search-width: 30px; // used when search icon is in main nav row
$mobile-menu-max-width: 480px;
$mobile-header-height: 120px;
$desktop-header-height: 150px;
$mobile-toggle-position-top: 30px;
$mobile-toggle-position: $gutter;

//  9. Sidebars
//  ==========================================================================
// Floating sidebars
$sidebar: 50; // One sidebar exists and when it should start floating. Resolves to named breakpoint from _breakpoint.scss.
$both-sidebars: 60; // Both sidebars exists and when they should start floating. Resolves to named breakpoint from _breakpoint.scss.

// Both sidebars exist. These values should add up to 100
$both-sidebars-content-width: 50%;
$both-sidebars-first-width: 20%;
$both-sidebars-second-width: 30%;

// First sidebar only. These values should add up to 100
$first-sidebar-content-width: 70%;
$first-sidebar-width: 30%;

// Second sidebar only. These values should add up to 100
$second-sidebar-content-width: 65%;
$second-sidebar-width: 35%;

//  10. Extras
//  ==========================================================================