// Admin Overrides to styles applied to node edit forms and other admin themed elements


// This really only applies to CEI nodes where anonymous users are actually
// allowed to create a new node. These nodes are simulating a form submission and
// as such, some of the Drupal admim tasks shouldn't be visible.
body:not(.user-logged-in) {
  .layout-container {
    .region-breadcrumb {
      display: none;
    }
    .region-help {
      margin-top: 40px;
    }
    .layout-region-node-main {
      width: 100%;
      #edit-group-nefa-only,
      #edit-group-ccx-workshop-handout {
        display: none;
      }

      #edit-field-ccx-workshop-handout-0 {
        .field--name-revision-log-message,
        .field--name-status {
          display: none;
        }
      }
    }
    .layout-region-node-secondary {
      display: none;
    }
    #block-adminimal-theme-login {
      display: none;
    }
  }
}