@import "0-config/__config";
@import "1-base/typography";
@import "1-base/buttons";
@import "1-base/blockquotes";
@import "1-base/horizontal-rules";
@import "1-base/lists";
@import "1-base/media";
@import "3-components/accordions";
// Do not import table styles. They need a different style applied within the RTE

// Other base styles unique to the ckeditor window

body {
  background: $white; // Keep it white in the RTE window!
}

h1 { // this styles the categories in the custom Style dropdown
  font-family: $base-font-family !important;
  font-size: $base-font-size !important;
  color: $base-font-color !important;
  font-weight: bold !important;
  text-transform: uppercase;
}
table {
  width: 100%;
  &.data-table {
    margin: $vertical-spacing 0;

    thead tr th {
      @include font-weight(bold);
      padding: $gutter/2;
      text-align: left;
      text-transform: uppercase;
      color: $base-font-color;
      background: $base-border-color;
      a {
        color: $action-color;
      }
    }
    td {
      border-bottom: $base-border;
      padding: $gutter/2;
      *:first-child {
        margin-top: 0;
      }
    }
  }
}

.accordion-header {
  margin-bottom: 10px;
}

.accordion-header-end,
.accordion-end {
  &:before {
    @include font-weight(normal);
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: $base-font-color;
    display: block;
    content: "End of Accordions";
    height: 1em;
    width: 100%;
    border-bottom: 1px dotted $pale-gray;
    margin: 10px 0;
  }
}

// CKEditor styles menu

.cke_panel_listItem {
  .accordion {
    &:before {
      display: inline;
      color: $action-color;
      @extend %icon-font;
      font-family: $icomoon;
      content: $icon-accordion-open;
      font-size: 14px;
      @include font-weight(normal);
      padding: 5px 5px 5px 0;
      line-height: 1;
    }
  }
  .accordion-end {
    &:before {
      content: "";
      display: inline;
    }
  }
}