@import "0-config/__config";

ul.tabs {
  width: 100%;
  list-style: none;
  margin: $gutter 0 0 0;
  padding: 0;
  border-bottom: $base-border;
}

ul.tabs li {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}

ul.tabs a {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
  color: $tab-text;
  background: $tab-background;
  @include font-weight(normal);
  @include border-radius(4px);
  &.is-active {
    background-color: $tab-background;
    color: $tab-text;
  }
  &:hover,
  &:focus {
    background-color: $tab-background-active;
    color: $tab-text;
    @include font-weight(normal);
  }
}